

<ul class="f-menu">
    <li><a ui-sref="site.index.home" ng-click="mactrl.scrollTop()">首页</a> &nbsp;&nbsp; | </li>
    <!-- 
    <li><a ui-sref="site.member.typography" ng-click="mactrl.scrollTop()">关于我们</a> &nbsp;&nbsp; | </li>
    <li><a ui-sref="site.member.recruit" ng-click="mactrl.scrollTop()">人才招聘</a> &nbsp;&nbsp; | </li>
    -->
    
    <li><a ui-sref="site.index.about" ng-click="mactrl.scrollTop()">关于我们</a> &nbsp;&nbsp; | </li>
    <li><a ui-sref="site.index.jobs" ng-click="mactrl.scrollTop()">人才招聘</a> &nbsp;&nbsp; | </li>
    <li><a ui-sref="site.member.disclaimer" ng-click="mactrl.scrollTop()">免责声明</a> &nbsp;&nbsp; | </li>
    <li><a ui-sref="site.member.contact" ng-click="mactrl.scrollTop()">联系我们 &nbsp;&nbsp; | </a></li>
    <li><a ui-sref="site.member.faq" ng-click="mactrl.scrollTop()">FAQ</a></li>
    
    <!-- <li><a ui-sref="site.test" ng-click="mactrl.scrollTop()">TEST</a></li> -->
    <!-- <li><a ui-sref="site.member.voip({id:'voip1'})" ng-click="mactrl.scrollTop()">VOIP</a></li> -->
</ul>

Copyright &copy; 2015 点点债
