
    <ul class="f-menu">
        <li><a ui-sref="site.index.about" ng-click="mactrl.scrollTop()">关于我们</a> &nbsp;&nbsp; | </li>
        <li><a ui-sref="site.index.jobs" ng-click="mactrl.scrollTop()">人才招聘</a> &nbsp;&nbsp; | </li>
        <li><a href="javascript:;">最新动态</a> &nbsp;&nbsp; | </li>
        <li><a ui-sref="site.index.contact" ng-click="mactrl.scrollTop()">联系我们</a></li>
    </ul>

    <div class="f-contact">
        <p>联系方式: 0755-833122123 &nbsp;&nbsp; 邮箱: market@ddzhai.com &nbsp;&nbsp; 商务合作:
        18688824814 姚先生 &nbsp;&nbsp; 催收方: 15512345678 林先生</p>

        <p class="c-gray"> Copyright &copy; 2015 点点债 </p>
        <p class="c-gray">粤ICP备15077594号</p>
    </div>

    <ul class="pe-social m-t-10 m-b-10">
        <li><a href="javascript:;"><i class="pe-so-wechat pe-2x"></i></a></li>
        <li><a href="javascript:;"><i class="pe-so-weibo pe-2x"></i></a></li>
    </ul>

    <div>
        <img class="img-rounded" src="images/index/trustedsite.jpg"/>
    </div>

    <div class="qrcode m-t-20">
        <div class="thumbnail">
            <img src="images/qrcode/1.jpg" alt="" height="60px"/>
            <div class="caption">
                Android
            </div>
        </div>
        <div class="thumbnail">
            <img src="images/qrcode/1.jpg" alt="" height="60px"/>
            <div class="caption">
                ios
            </div>
        </div>
        <div class="thumbnail">
            <img src="images/qrcode/1.jpg" alt="" height="60px"/>
            <div class="caption">
                公众号
            </div>
        </div>
    </div>

