<div class="sidebar-inner c-overflow" ng-controller="sidebarController as sbctrl">
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="images/profile-pics/1.jpg" alt=""/>
            </div>

            <div class="profile-info">
                {{sbctrl.user.name}}
                <i class="zmdi zmdi-arrow-drop-down"></i>
            </div>
        </a>

        <!-- 
        <ul class="main-menu">
            <li>
                <a href="profile-about.html"><i class="zmdi zmdi-person"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href="javascript:;" ng-click="sbctrl.logout();mactrl.sidebarStat($event);"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
        -->
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="site.member.index" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> 个人中心</a>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-book"></i> 基本设置</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.userinfo" data-ng-click="mactrl.sidebarStat($event)">基本信息</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.userpwd" data-ng-click="mactrl.sidebarStat($event)">修改密码</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.auth" data-ng-click="mactrl.sidebarStat($event)">{{sbctrl.user.type==0 ? "个人验证":"企业验证"}}</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-book"></i> 我的债权</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.createdebt" data-ng-click="mactrl.sidebarStat($event)">新建债务</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.issued" data-ng-click="mactrl.sidebarStat($event)">我的委托</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.participant" data-ng-click="mactrl.sidebarStat($event)">我的竞标</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.wonbid" data-ng-click="mactrl.sidebarStat($event)">我的中标</a></li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('tables') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-card"></i> 财务管理</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.pay" data-ng-click="mactrl.sidebarStat($event)">我要充值</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.cash" data-ng-click="mactrl.sidebarStat($event)">我要提现</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="site.member.fundrecord" data-ng-click="mactrl.sidebarStat($event)">资金记录</a></li>
            </ul>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="typography" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-format-underlined"></i>关于我们</a>
        </li>
        <li>
            <a href="javascript:;" ng-click="sbctrl.logout();mactrl.sidebarStat($event);"><i class="zmdi zmdi-time-restore"></i> 退出登陆</a>
        </li>
    </ul>
</div>
