

#header.index-header {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;
}


// Section header
// ====================
.section-header2 {
    text-align: center;
    padding-bottom: 38px;

    h4 {
        margin-top: 0;
    }
}

.subject {
    .size(153px, 66px);
    background: url(../images/index/subject-icon.png) no-repeat 0 0;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    line-height: 0;

    h1 {
        margin: 0;
        color: inherit;
        font-weight: bold;
        font-size: 44px;
    }
    h7 {
        font-size: 10px;
    }
}

.header-subject {
    text-align: center;
    margin: 40px 0 10px;
}

// END Section header


.index {

margin-top: -(65px + 30px);     // header hight(65px) + padding (#content 30px)

    
// body {
//     color: #929292;
//     padding-top: 0px;
// }

h4, .h4 {
    color: #454545;
}

// #header {
//     position: absolute;
//     background: none;
//     border: none;
//     box-shadow: none;
// }



.focus,.works,.about-us,.features,.packages,.products,.testimonial,.contact-us {
	padding-top: 0;
    padding-bottom: 0;
}

.about, .strength {
    overflow: hidden;
    // padding-bottom: 100px;
    // position: relative;
}

.about, .business, .cooper {
    background: #ffffff none repeat scroll 0 0;
}
.strength {
    // background: url(../images/index/strength-bg.jpg) no-repeat 0 0;
    background-image: url(../images/index/bg2.jpg);
    background-size: cover;
    background-position: top 50%;
}
.cooper {
    text-align: center;
}
.media, .news {
    margin-bottom: 30px;
}
.banner {
    position: relative;
    // z-index: -1;
}
.works {
    min-height: initial;
}


.stat {
    h1 {
        margin-top: 10px;
    }
}

// ==================================================
// BANNER
// ==================================================

.carousel-inner > .item {
    height: auto;
}




// icon

.feature-box {
    text-align: center;
    margin-bottom: 75px;
    color: #fff;
    
    .feature-icon {
        height: 145px;
        margin: auto auto 20px;
        position: relative;
        width: 145px;

        img {
            position: relative;
            top: 50%;
        }
    }

    h5 {
        color: #fff;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 20px;
        position: relative;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }
}

// cooper icon
.cooper-ico {
    .size(119px, 70px);
    display: inline-block;
    margin: 0 10px 40px;
    background-repeat: no-repeat;
    background-position: top center;

    &.ico1 {
        background-image: url(../images/index/coopers/1.png);
    }
    &.ico2 {
        background-image: url(../images/index/coopers/2.png);
    }
    &.ico3 {
        background-image: url(../images/index/coopers/3.png);
    }
    &.ico4 {
        background-image: url(../images/index/coopers/4.png);
    }
    &.ico5 {
        background-image: url(../images/index/coopers/5.png);
    }
    &.ico6 {
        background-image: url(../images/index/coopers/6.png);
    }
    &.ico7 {
        background-image: url(../images/index/coopers/7.png);
    }
    &.ico8 {
        background-image: url(../images/index/coopers/8.png);
    }
    &.ico9 {
        background-image: url(../images/index/coopers/9.png);
    }
    &.ico10 {
        background-image: url(../images/index/coopers/10.png);
    }
    &.ico11 {
        background-image: url(../images/index/coopers/11.png);
    }
    &.ico12 {
        background-image: url(../images/index/coopers/12.png);
    }
}


.team-member {
    
    .profile-pic {
        border-radius: 0;
    }
}

.flow-title {
    .size(250px, 50px);
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
}

.flow {
    height: 800px;
    width: 310px;
    margin: 50px auto 30px;

    &.creditor {
        background: url(../images/index/flow-creditor.jpg) no-repeat 0 0;
    }
    &.collection {
        width: 160px;
        background: url(../images/index/flow-collection.jpg) no-repeat 0 0;
    }
}

#banner .banner-item >div {
    // .size(1920px, 500px);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    height: 620px;
    width: 100%;
    display: block;
}

@media (max-width: @screen-xs-max) {
    #banner .banner-item >div {
        height: 300px;
    }
}


// end index
// ==================================================

}


@footer-height: 340px;
#footer.index-footer {
    height: @footer-height;
    padding-top: 15px;
    margin-bottom: -(@footer-height - 140); // 140 = 95(margin-bottom:.index) + 30(padding:#content) + 15
}

.pe-social a {
    color: #888;
}


.f-contact p {
    margin: 0;
}


.qrcode {
    .thumbnail {
        background-color: inherit;
        border: none;
        margin: 0 10px;
        display: inline-block;
        
        .caption {
            padding: 0;
            color: #ddd;
        }
    }
    img {
        height: 80px;
    }
}


@media (min-width: @screen-lg) {
    body.sw-toggled #content.content-index {
        padding-left: 0;
    }
}


@media (min-width: @screen-sm-min) {
    .btn-index {
        width: 80px;
    }
}

#jobs-banner {
    background: url(../images/backgrounds/bg3.jpg) no-repeat 0 0;

    .jumbotron {
        background: rgba(0, 0, 0, .4);
        height: 450px;

        h1 {
            margin-top: 50px;
        }
    }
}


// about us page

.features .feature {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    h4 {
        margin-top: 25px;
    }
}

.feature-icon {
    position: relative;
    width: 80px;
    height: 80px;
}

@media (max-width: 1024px) {
    .feature-icon {
        width: 100%;
    }
}

// news
.news {
    .owl-item {
        img {
            width: 252px;
            height: 100px;
        }

        .caption {
            padding-bottom: 10px;
            
            h4 {
                height: 18px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            p {
                height: 110px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
