
<div class="container">
    <div class="card">
        <div class="card-header" id="entrust">
            <h2>点点债平台注册用户服务协议-委托方</h2>
        </div>
        <div class="card-body card-padding agreement">

            <p>《点点债平台注册用户服务协议》（以下简称“本协议”）由用户与点点债平台共同缔结，
            本协议具有合同效力。为使用点点债平台服务，用户应当阅读并遵守本协议。请用户务必审慎阅
            读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协
            议。限制、免责条款可能以黑体加粗形式提示用户注意。</p>

            <p>
                <b>除非用户已阅读并接受本协议所有条款，否则用户无权使用点点债平台提供的
                服务。用户使用点点债平台服务即视为用户已阅读并同意上述协议的约束。</b>
            </p>

            <p>如果用户未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。
            </p>

            <h5>一、本协议的订立</h5>
            <p>1.1、本协议由深圳市点点债平台互联网金融服务有限公司（网站：www.ddzhai.cn，以下称“点点债平台”）与用户共同缔结，具有合同效力。</p>

            <p>1.2、用户一经勾选“我已仔细阅读并同意协议”并使用点点债平台网站许可登录的账号登录平台，即意味着用户同意与点点债平台签订本协议并自愿受本协议约束，并在点点债平台与用户之间具有法律效力。需要与点点债平台或第三方另行签订其他协议的（包括在线签订或线下签订），则用户还应遵守另行签署的协议。</p>

            <p>1.3、本协议指本协议正文、点点债平台的平台规则、其修订版本以及其他点点债平台所列明的所有规则性文件、通知或其他内容。上述内容一经正式发布，即为本协议不可分割的组成部分，用户同样应当遵守。用户对前述任何协议、规则的接受，即视为用户对本协议全部的接受。</p>

            <p>1.4、本协议各条的标题仅为方便阅读而设，无意成为本协议的一部分，也不影响本协议的含义或解释。</p>

            <h5>二、定义和解释</h5>
            <p>2.1、 点点债平台：指由深圳市点点债平台互联网金融服务有限公司所有并运营的网站平台。</p>

            <p>2.2、平台服务：指点点债平台向用户提供的网络空间、技术支持和系统维护，以及同意向注册用户提供的各项附属功能、增值服务等。</p>

            <p>2.3、用户：指债权方，在点点债平台上成功注册并享受服务的自然人、法人或其他组织，本协议中又称“用户”。</p>

            <p>2.4、催收方：指在点点债平台上成功注册为债权方提供服务的用户。</p>

            <p>2.5、账号：指用户所拥有的经点点债平台认可，可以登录点点债平台的一个合法获得并持有的服务帐号（该帐号形式是在点点债平台注册所获得的账号；以点点债平台公布的标准为准）。</p>

            <p>2.6、 互联网支付服务：指具有互联网支付合法资质的第三方支付机构为用户完成交易、转移资
            金提供的支付服务，详情见该第三方支付机构通过用户与其所签订的约定其所提供支付服务的协议、
            公司网站、电子邮件或其他形式所公布的相关规则及说明。</p>

            <h5>三、协议的生效与变更</h5>

            <p>3.1、 点点债平台有权在必要时修改本协议条款。用户可以在点点债平台服务的相关页面查阅最新版本的协议条款。</p>

            <p>3.2、本协议条款变更后，如果用户继续使用点点债平台提供的软件或服务，即视为用户已接受修改后的协议。如果用户不接受修改后的协议，应终止本协议，并停止使用点点债平台提供的软件或服务。</p>

            <h5>四、注册用户和帐号</h5>

            <p>4.1、用户使用点点债平台服务应具备完全民事行为能力；用户若不具备前述资格，则用户的监护人应承担因此而导致的一切后果，且点点债平台有权注销或永久冻结用户的帐号。</p>

            <p>4.2、用户使用点点债平台服务必须拥有经点点债平台认可登录点点债平台的一个合法获得并持有的服务帐号；用户对前述帐号的申请、使用等行为应符合本协议及注册该账号时与相应的第三方账号服务提供者所签订的注册协议、服务协议以及其他有关规则。用户应自行确保上述帐号及其密码的安全，并对利用上述帐号及其密码所进行的一切行为负完全责任。</p>

            <p>4.3、用户理解并同意，若用户的行为违反本协议的相关规定，用户的用户资格和帐号可能被注销、暂时冻结或永久冻结。</p>
            <p>4.4、如用户申请成为转让方，应依据点点债平台所实时公布的用户认证流程（包括签订相应协
            议）完成相应认证。</p>


            <h5>五、用户信息收集、使用和保护</h5>

            <p>5.1、用户在使用点点债平台服务时需要根据要求披露一些信息，包括但不限于根据第三方支付机构的要求为享受互联网支付服务而需要提供的一些必要信息，这些信息包括但不限于：真实姓名或名称、联系地址、邮箱和联系电话等。用户应保证这些信息在 提供时是真实、准确、有效且完整的，且应及时根据实际情况或者点点债平台的要求更新这些信息。由于信息披露不完整、不真实或者信息更新不及时导致用户在享受平台服务时受到限制或损失的，应由用户独立承担责任。除了必要信息外，用户也有权自行决定披露一些其他信息。</p>

            <p>5.2、用户授权点点债平台收集用户的信息，这些信息可能包括注册信息、用户认证所需的个人身份信息或企业主体资质信息、产品信息和交易信息，点点债平台对用户信息的收集将遵循相关法律的规定。用户同时授权点点债平台及点点债平台全球通用（在法律许可范围内）的、免费的许可使用权利（并有权对该权利再授权），使点点债平台及点点债平台有权（全部或部分地）使用、复制、修订、改写、发布、翻译、发布、执行和展示用户所公示于点点债平台的各类信息（不包括用户的个人身份信息）或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述用户所公示的各类信息纳入其他作品内。</p>

            <p>5.3、点点债平台将采取适当措施，根据相关法律的要求，对用户信息提供充分的信息安全保障。用户应妥善保管、使用其用户信息，包括账号号码及其密码、与交易有关的支付账号及密码、联系方式、地址等信息，因上述信息泄露而导致用户的任何损失，包括使用点点债平台上的任何第三方应用软件造成信息泄露而导致用户的任何损失，由用户独立承担责任。如用户泄露上述任何信息，用户还应及时将泄露的情况以有效方式立即通知点点债平台，以便点点债平台在合理时间内采取措施防止损失继续扩大，但点点债平台对采取措施前已经产生的后果不承担任何责任。</p>

            <p>5.4、点点债平台保证不对外公开或向任何第三方提供用户的个人信息，但是存在下列情形之一的除外：<br />
            　　（1）公开或提供相关信息之前获得用户许可的；<br />
            　　（2）根据法律或政策的规定而公开或提供的；<br />
            　　（3）只有公开或提供用户的个人信息，才能提供用户需要的债权的；<br />
            　　（4）只有公开或提供用户的个人信息，才能提供用户需要的点点债平台服务的；<br />
            　　（5）根据国家权力机关要求公开或提供的；<br />
            　　（6）根据本协议其他条款约定而公开或提供的。<br />
            </p>

            <p>5.5、为了向用户提供更优质的点点债平台服务，提升用户体验，用户同意点点债平台可将用户的个人信息提供给为点点债平台的关联公司。</p>

            <p>5.6、用户理解并认同，在平台方发生重组、解散、破产清算、并购等情况时，平台方可能会向第三方出售或转让点点债平台。在该等交易中，作为点点债平台不可分割的一部分，用户的用户信息也可能将被转让给该第三方，以使该第三方可以继续为用户提供服务。</p>

            <h5>六、用户行为规范</h5>

            <p>6.1、遵守法律法规、社会公德及本协议</p>
            <p>用户在使用点点债平台服务中的所有行为应遵守国家法律、法规、规章、规范性文件等规定及本协议的规定和要求，不违背社会公德，不损害国家或者任何第三人的任何合法权益。否则，产生的一切法律后果均由用户独立承担，并应确保点点债平台免于承担任何责任。</p>

            <p>6.2、遵守点点债平台规则及相应流程要求 </p>
            <p>用户在使用点点债平台服务中的所有行为应遵守点点债平台所实时公布的平台规则；如用户需要
            开通、申请或使用点点债平台所公示提供的不同服务或为取得该种服务的相应资格，用户应依据点点
            债平台所公示的相应具体规则及流程要求完成相应资格的认证与申请，提供开通相应服务所必须的相
            应资料和信息并保证该等信息的真实和准确；用户应与点点债平台或提供该具体服务的相应主体签订
            协议（如需要），并严格履行该等协议；用户使用该等服务的具体内容以相应协议约定及平台规则规
            定为准。
            </p>

            <p>6.3、 用户在使用点点债平台服务中的所有行为应遵守诚信原则，不得实施以下任一行为：<br />
            　　（1）发布假冒、伪劣或侵犯任何第三方合法权利的债权信息 <br />
            　　（2）发送钓鱼链接给其他用户； <br />
            　　（3）通过发送病毒、木马等行为攻击其它用户的帐号或机器； <br />
            　　（4）冒充点点债平台工作人员欺骗其他用户； <br />
            　　（5）通过虚假交易等形式从点点债平台获得营销资源、款项支持等利益； <br />
            　　（6）交易发生后无理由地违约；<br />
            　　（7）违反银行卡管理规则实施套现；<br />
            　　（8）通过留言、评价等手段发送违规或垃圾信息；<br />
            　　（9）协助他人获取不正当利益；<br />
            　　（10）平台规则规定的其他不当行为。<br />
            </p>

            <p>6.4、不发布违法信息</p>
            <p>用户不得发布国家法律法规、本协议及其平台规则所禁止发布的债权信息，也不得发布任何涉嫌侵犯他人知识产权等合法权益的债权信息。</p>

            <p>6.5、不危害平台正常交易、维护和安全措施</p>
            <p>用户不得以任何方式危害点点债平台的正常交易，包括不得实施如下任一行为：<br />
            　　（1）以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件等非点点债平台认可的方式访问或登录点点债平台；<br />
            　　（2）通过任何方式对点点债平台造成或可能造成不合理或不合比例的重大负荷；<br />
            　　（3）通过任何方式干扰或试图干扰点点债平台的正常运行。<br />
            </p>

            <p>6.6、同意接收广告、营销信息</p>
            <p>用户同意接收来自点点债平台的信息，包括但不限于营销活动信息、债权交易信息等。为使用户及时了解丰富的债权信息，提升用户体验，点点债平台或其合作的第三方可以在法律法规允许的范围内，通过短信、电话、邮件等各种方式向用户提供前述信息。</p>

            <p>6.7、费用承担条款</p>
            　　（1）用户应自行承担因转让产生的相关费用，并依法纳税。用户应自行配备上网的所需设备，包括个人电脑、调制解调器或其它必备上网装置，并自行负担个人上网所支付的与此服务有关的电话费用、网络费用。<br />
            　　（2）点点债平台的部分服务是以收费方式提供的，如用户使用收费服务，请遵守点点债平台服务相关的规则。点点债平台可能根据实际需要对收费服务的收费标准、方式进行修改，点点债平台也可能会对部分免费服务开始收费。前述修改或开始收费前，点点债平台将在相应服务页面进行通知或公告。如果用户不同意上述修改或收费内容，则应立即停止使用该服务。<br />

            <p>6.8、享受点点债平台服务</p>
            <p>用户享受点点债平台服务时，应遵守法律法规及本协议约定，该服务内容可能包括在点点债平台上发布、浏览、查询债权信息，进行债权转让交易等，具体以点点债平台提供的为准。</p>


            <h5>七、点点债平台的权利和义务</h5>
            <p>7.1、点点债平台有义务在现有技术水平条件下，努力使整个点点债平台正常运行，
            尽力避免点点债平台服务中断或将中断时间限制在最短时间内，以保证用户正常使用服
            务。</p>
            
            <p>7.2、用户已充分知悉和理解，因网上交易平台的特殊性，点点债平台没有义务对所有用户使用点点债平台服务的过程及行为进行事前及实时审查。但用户发生以下情形之一的，点点债平台可以普通、非专业人员的知识水平标准或根据自己掌握的信息进行独立判断，点点债平台有权采取包括但不限于限制用户登录、要求用户提供有关资料、发出警告通知、删除相关信息、中止或终止向用户提供点点债平台服务、以网络公告等形式公布用户违法违约行为或依据平台规则对于违约用户进行的其他违规处理：</p>
            <p>（1）用户违反国家法律、法规、规章及规范性文件的；<br />
            （2）用户违反本协议或任何平台规则的；<br />
            （3）第三方向点点债平台告知用户侵犯第三方合法权益的。<br />
            </p>
            
            　　<p>7.3、用户不得发布下列任何信息，否则，点点债平台可在不通知用户的情况下对其采取删除、屏蔽、断开链接或依据平台规则对于违约用户进行其他的违规处理：<br />
            　　（1）恶意欺诈信息； <br />
            　　（2）与债权委托交易无关的信息； <br />
            　　（3）不以债权委托交易为目的的信息；<br />
            　　（4）存在恶意留言信息；<br />
            　　（5）试图或已经扰乱正常交易秩序的信息；<br />
            　　（6）违反国家法律、危害国家安全统一、社会稳定、公序良俗，侮辱、诽谤、淫秽、暴力的，以及任何违反国家法律法规的信息；<br />
            　　（7）侵害他人知识产权、商业秘密等合法权益的信息；<br />
            　　（8）虚构事实、误导、欺骗他人的信息；<br />
            　　（9）发布、传送、传播广告信息及垃圾信息。<br />
        </p>

        <p>7.4、用户知悉并同意，当国家行政、司法机关主动依职权或者根据他人的投诉调查用户在点点债平台上的相关行为时，点点债平台有权予以配合，并将所掌握的信息提供给上述国家机关。</p>
        
        <p>7.5、用户知悉并同意，用户不得利用点点债平台服务实施侵犯他人知识产权及其它合法权益的行为，如点点债平台接到第三方投诉称用户侵权的，为防止侵权行为的继续扩大和及时解决纠纷，点点债平台除依本协议规定采取措施外，点点债平台还可以将用户的相关信息提供给投诉人。</p>

        <h5>八、特别授权</h5>

        <p>8.1、用户完全理解并不可撤销地授权点点债平台或其授权的第三方，根据本协议及平台规则的规定，处理用户在点点债平台上发生的所有交易及交易纠纷。用户同意点点债平台或其授权的第三方对用户在点点债平台上的行为的判断和相应处理决定对用户具有约束力。</p>
        <p>8.2、点点债平台有权以任何方式通知第三方支付机构及点点债平台的任何关联公司，针对用户违反本协议或平台规则的行为，对用户的权益采取限制措施或给予相应违规处理，包括但不限于通知第三方支付机构将用户支付账户中的款项支付给点点债平台指定的用户或第三方，要求第三方支付机构和点点债平台的关联公司中止、终止对用户提供服务，并在相应网站公示用户的违约行为。</p>
        　　<p>8.3、用户同意，点点债平台可为履行本协议或提供点点债平台服务的目的而收集、使用、存储用户的用户信息。</p>

        　　<h5>九、责任限制</h5>

        　　<p>9.1、用户理解并同意，点点债平台会在现有技术水平和条件下尽最大努力向用户提供服务，确保服务的连贯性和安全性；但点点债平台不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力，大规模的病毒、木马和黑客攻击，系统不稳定，第三方服务瑕疵，政府管制等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</p>

        　　<p>9.2、用户已充分知悉和同意：点点债平台是点点债平台为用户提供的信息交流及债权交易的电子商务平台，点点债平台仅根据本协议为用户提供点点债平台服务。在该平台上，点点债平台不是用户的代理商、合伙人、雇员或雇主等经营关系人，点点债平台上的债权信息均为转让方发布，具体债权的出售或提供者均为转让方，而非点点债平台（另有特别说明由点点债平台提供或出售的除外）。因此，在点点债平台上，用户应对自身发布信息、进行债权交易的真实性、合法性、安全性独立承担责任；点点债平台不对债权真实性、信息瑕疵以及转受双方履行交易协议而产生的问题承担任何责任。</p>

        　　<p>9.3、用户同意，对点点债平台上出现的网络链接信息，用户应审慎判断其真实性和可靠性，除法律明确规定外，用户应对依该链接信息进行的交易负责。</p>

        　　<p>9.4、用户理解并同意，在使用点点债平台服务的过程中，可能会遇到不可抗力等风险因素使点点债平台服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限？于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，点点债平台将努力在第一时间与相关单位配合，及时进行修复，但是由此给用户造成的损失，点点债平台将在法律允许的范围内免责。</p>

        　　<p>9.5、在法律允许的范围内，点点债平台对以下情形之一导致的服务中断或受阻不承担责任：<br />
        　　（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；<br />
        　　（2）用户或点点债平台的电脑软件、系统、硬件和通信线路出现故障；<br />
        　　（3）用户操作不当；<br />
        　　（4）用户通过非点点债平台授权的方式使用服务；<br />
        　　（5）其他点点债平台无法控制或合理预见的情形。<br />
    </p>

    　　<p>9.6、点点债平台依据本协议约定获得处理违法违规内容的权利，该权利不构成点点债平台的义务或承诺，点点债平台不能保证及时发现违法行为或进行相应处理。</p>

    　　<h5>十、服务中止和终止</h5>

    　　<p>10.1、本协议在下述情形下自然终止：<br />
    　　（1）协议方签署新协议代替本协议的；<br />
    　　（2）通知终止：除本协议另有约定外，缔约协议方中任一方提前15（十五）日以书面形式通知
    对方终止本协议。<br />
</p>

　　<p>10.2、如发生下列任何一种情形，点点债平台有权不经通知而中断、中止或终止向用户提供的服务，且不向该用户承担任何责任：<br />
　　（1）用户未按本协议提供真实信息；<br />
　　（2）用户违反相关法律法规或本协议的规定；<br />
　　（3）用户成为转让方后所提供的债权信息存在假冒、伪劣情形，或债权信息侵犯任何第三方合法权利或造成人身伤害的；<br />
　　（4）按照法律规定或主管部门的要求；<br />
　　（5）用户侵犯其他第三方合法权益的；<br />
　　（6）用户出现负面消息可能影响“点点债平台”及“点点债平台”商誉的；<br />
　　（7）出于安全的原因或其他必要的情形。<br />
</p>

　　<p>10.3、用户有责任自行备份存储在使用点点债平台服务中产生的数据和信息。</p>
　　<p>10.4、用户同意，即便在本协议终止及用户的服务被终止后，点点债平台仍有权：<br />
　　（1）继续保存并使用用户的用户信息；<br />
　　（2）继续向用户主张用户在使用点点债平台服务期间因违反法律法规、本协议及平台规则而应
承担的责任。<br />
</p>

　　<p>10.5、对于用户在点点债平台服务中止或终止之前已经上传至点点债平台的债权信息，因点点债平台依据本协议中止或终止向用户提供点点债平台服务，而导致用户无法与其他用户达成交易，或虽已达成交易但无法实际履行或无法完全履行，因而造成用户损失的，点点债平台不承担责任。</p>

　　<h5>十一、知识产权</h5>

　　<p>11.1、点点债平台在提供点点债平台服务中提供的信息内容，包括但不限于网页、文字、图片、音频、视频、图表等的知识产权均归点点债平台所有，用户在使用点点债平台服务中所产生的内容的知识产权归用户或相关权利人所有。</p>

　　<p>11.2、除另有特别声明外，点点债平台提供点点债平台服务时所依托软件的著作权、专利权及其他知识产权均归点点债平台或其关联公司所有。</p>

　　<p>11.3、点点债平台在提供点点债平台服务中所使用的“点点债平台”及“ddzhai.com”等商业标识，其著作权或商标权归点点债平台或其关联公司所有。</p>

　　<p>11.4、如用户通过点点债平台推出的客户端软件使用点点债平台服务，点点债平台给予用户一项个人的、不可转让、非独占及非排他性的许可，用户只能为正当使用点点债平台服务之目的使用该权利，不得将其用作任何目的，也不得随意复制、修改、编译或以任何其他方式处置这些权利。</p>

　　<h5>十二、遵守当地法律监管</h5>

　　<p>12.1、用户在使用点点债平台服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。如果用户的行为违反了当地法律法规或道德风俗，用户应当为此独立承担责任。</p>

　　<p>12.2、用户应避免因使用点点债平台服务而使点点债平台卷入政治和公共事件，否则点点债平台有权暂停或终止对用户的服务。</p>

　　<h5>十三、隐私政策</h5>

　　<p>13.1、保护用户个人信息及隐私是点点债平台的一项基本原则。点点债平台严格保护用户的个人信息安全。点点债平台使用各种制度、安全技术和程序等措施来保护用户的个人信息不被未经授权的访问、使用或泄漏。除本协议有特殊约定，关于用户隐私保护政策详见点点债平台所公示的相关平台规则。</p>

　　<h5>十四、管辖与法律适用</h5>

　　<p>14.1、本协议签订地为中华人民共和国广东省深圳市。</p>

　　<p>14.2、本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>

　　<p>14.3、若用户和点点债平台之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交至本协议签订地有管辖权的人民法院管辖。</p>

　　<p>14.4、本协议条款无论因何种原因部分无效，其余条款仍有效，对各方具有约束力。</p>

　　<h5>十五、其他</h5>

　　<p>15.1、点点债平台提醒用户，网上交易有风险，用户应该进行审慎判断。</p>

　　<p>15.2、如果用户对本协议或点点债平台服务有意见或建议，可与点点债平台客户服务部门联系，我们会给予用户必要的帮助。</p>

</div>
</div>


<div class="card">
    <div class="card-header" id="entrust">
        <h2>点点债平台注册用户服务协议-催收方</h2>
    </div>
    <div class="card-body card-padding agreement">

        <p>《点点债平台注册用户服务协议》（以下简称“本协议”）由您与点点债平台共同缔结，
        本协议具有合同效力。为使用点点债平台服务，您应当阅读并遵守本协议。请您务必审慎阅
        读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单
        独协议。限制、免责条款可能以黑体加粗形式提示您注意。</p>

        <p><b>除非您已阅读并接受本协议所有条款，否则您无权使用点点债提供的服务。您使用点点债平台服务即视为您已阅读并同意上述协议的约束。</b></p>

        <p>如果您未满18周岁，将不能注册催收方的用户。</p>

        <h5>一、本协议的订立</h5>

        <p>1.1本协议由深圳市点点债互联网金融服务有限公司（网站：www.ddzhai.cn，以下称“点点债平台”）与您共同缔结，具有合同效力。</p>

        <p>1.2您一经勾选“我已仔细阅读并同意协议”并使用点点债平台网站许可登录的账号登录平台，即意味着您同意与点点债平台签订本协议并自愿受本协议约束，并在点点债平台与您之间具有法律效力。需要与点点债平台或第三方另行签订其他协议的（包括在线签订或线下签订），则您还应遵守另行签署的协议。</p>

        　　<p>1.3本协议指本协议正文、点点债平台的平台规则、其修订版本以及其他点点债平台所列明的所有规则性文件、通知或其他内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。您对前述任何协议、规则的接受，即视为您对本协议全部的接受。</p>

        　　<p>1.4本协议各条的标题仅为方便阅读而设，无意成为本协议的一部分，也不影响本协议的含义或解释。</p>

        　　<h5>二、定义和解释</h5>

        　　<p>2.1点点债平台：指由深圳市点点债互联网金融服务有限公司所有并运营的网站平台。</p>

        　　<p>2.2平台服务：指点点债平台向用户提供的网络空间、技术支持和系统维护，以及同意向注册用户提供的各项附属功能、增值服务等。</p>

        　　<p>2.3用户：指催收方，在点点债平台上成功注册并使用该平台功能的自然人、法人或其他组织。</p>

        　　<p>2.4债权人：指在点点债平台上成功注册为并委托和享受点点债平台提供相关服务的用户。</p>

        　　<p>2.5账号：指用户所拥有的经点点债平台认可，可以登录点点债平台的一个合法获得并持有的服务帐号（该帐号形式是在点点债平台注册所获得的账号；以点点债平台公布的标准为准）。</p>

        　　<p>2.6互联网支付服务：指具有互联网支付合法资质的第三方支付机构为用户完成交易、转移资金提供的支付服务，详情见该第三方支付机构通过用户与其所签订的约定其所提供支付服务的协议、公司网站、电子邮件或其他形式所公布的相关规则及说明。</p>

        　　<h5>三、协议的生效与变更</h5>

        　　<p>3.1点点债平台有权在必要时修改本协议条款。您可以在点点债平台服务的相关页面查阅最新版本的协议条款。</p>

        　　<p>3.2本协议条款变更后，如果您继续使用点点债平台提供的软件或服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应终止本协议，并停止使用点点债提供的软件或服务。</p>

        　　<h5>四、注册用户和帐号</h5>

        <p>4.1用户使用点点债平台服务应具备完全民事行为能力；用户若不具备前述资格，则用户的监护人应承担因此而导致的一切后果，且点点债有权注销或永久冻结用户的帐号。</p>

        <p>4.2用户使用点点债平台服务必须拥有经点点债认可登录点点债平台的一个合法获得并持有的服务帐号；用户对前述帐号的申请、使用等行为应符合本协议及注册该账号时与相应的第三方账号服务提供者所签订的注册协议、服务协议以及其他有关规则。用户应自行确保上述帐号及其密码的安全，并对利用上述帐号及其密码所进行的一切行为负完全责任。</p>

        <p>4.3您理解并同意，若您的行为违反本协议的相关规定，您的用户资格和帐号可能被注销、暂时冻结或永久冻结。</p>

        <h5>五、委托事项</h5>

        <p>5.1、点点债平台为催收方提供逾期债权人的相关信息，催收方根据提供的信息进行催收债务本金、利息、违约金等相关费用。</p>

        <p>5.2、催收方须按照点点债平台确认的数额进行催收，不得随意降低数额，亦不得超额催收。</p>

        <p>5.3、催收方在催收过程中，可采取以下催收方式：<br />
        （1）电话催收；<br />
        （2）普通信函催收；<br />
        （3）律师函催收；<br />
        （4）上门催收；<br />
        （5）其他合法的催收方式。</p>

        <p>5.4、经催收方催回的款项应支付到点点债平台公司，点点债平台指定银行账户为：</p>
        <pre>
            账    号：
            单位名称：
            开 户 行：
        </pre>

        <p>5.5、催收方在催收过程中不得超越法律允许的范围，采取人身威胁、敲诈、暴力等任何非法手段，否则自行承担全部责任。</p>

        <h5>六、费用结算</h5>

        <p>6.1、平台服务费用按催收方收回的实际金额（含债务本金、利息、违约金等相关费用）计算，该笔平台服务费用免费 。</p>

        <p>6.2、自本合同签订之日起，催收方（含下属公司及关联公司）不得与第三方不良资产外包网络服务商进行合作。</p>

        <p>6.3、点点债平台通过转账方式将上月的代理费用转入催收方指定的账户，催收方提供与点
        点债平台所支付金额相等的正式发票给点点债平台。催收方指定银行账户为：</p>
        <pre>
            账    号：
            单位名称：
            开 户 行：
        </pre>

        <h5>七、点点债平台的权利和义务</h5>

        <p>7.1、点点债平台应向催收方提供需催收的债务人及其担保人（如有）、其他联系人（如有）的 清单及基本信息资料和前期催收的记录材料。</p>

        <p>7.2、点点债平台应向催收方出具开展本项工作所需的授权文件，以及应催收方要求提供其他合理的配合工作。</p>

        <p>7.3、点点债平台按催收方实际催回欠款金额的一定比例支付代理费用。</p>

        <p>7.4、在点点债平台认定催收方不能全面完成催收工作或存在违反保密义务等有损于点点债平台权益的行为，或出现严重投诉时，点点债平台有权随时解除与催收方签订的委托代理协议，并要求催收方赔偿相应损失或承担法律责任。</p>

        <p>7.5、点点债平台有权对催收方的财务状况、业务经营状况以及内部资料保密、操作风险内控制度、对经办此项业务的人员培训计划的落实情况进行定期或不定期（包括现场及非现场等检查手段）检查及评估。</p>

        <p>7.6、催收方或催收方工作人员违反本合同的约定，或催收方指派的工作人员在提供本合同项下服务的过程中存在任何违法行为、不适当行为或其他过错，造成点点债平台或债权方声誉、形象受损，给点点债平台或债权方造成经济损失的，催收方应承担赔偿责任。因催收方或催收方的工作人员的以上行为给逾期客户造成损失的，催收方应独自承担全部赔偿责任。</p>

        <p>7.7、如果催收方无法在约定的催收周期内完成催收的，点点债平台有权收回催收资料并委托其他合作机构进行催收。</p>

        <p>7.8、点点债平台有权定期对催收方业务进行稽核，保证催收方依照合同依时、合法、有管理地为点点债平台提供催告通知业务服务，稽核包括常规稽核和非常规稽核。常规稽核一般为非现场稽核，采用手段主要为报表的审核，逾期客户跟踪抽查及投诉个案的跟进。非常规稽核一般为现场稽核，催收方应配合点点债平台调阅相关的材料。</p>

        <h5>八、催收方的权利义务</h5>

        <p>8.1、催收方必须保证所采取催收手段的合法合规，不得以违法的方式催收，同时在催收过程中不得有任何有损点点债平台或债权方形象和声誉的言语和行为，若在催收过程中与当事人发生纠纷，由催收方负责自行解决，因催收方催收行为给点点债平台或债权方造成损失的，点点债平台可依法就损失款项向催收方追偿。</p>

        <p>8.2、催收方有权要求点点债平台根据本协议中的相关条款支付代理费用。</p>

        <p>8.3、对于点点债平台委托的催收债务，催收方应建立完整的催收档案，书面记录所采用的具体催收方式和催收过程。</p>

        <p>8.4、催收方在催收过程中应将所委托催收的债务人的基本信息变动情况及时向点点债平台反馈。</p>

        <p>8.5、催收方应在每周向点点债平台提交当周催收情况及催收报告。</p>

        <h5>九、违约责任</h5>

        <p>9.1、除本协议另有约定外，任何一方直接或间接违反本协议的任何条款，或不承担或不及时充分地承担本协议项下其应承担的义务即构成违约行为，守约方有权以书面通知要求违约方纠正其违约行为并采取充分、有效、及时的措施消除违约后果，并赔偿守约方因违约方之违约行为而遭致的损失。</p>

        <p>9.2、除本协议另有约定外，在违约事实发生以后，经守约方的合理及客观的判断，该等违约事实已造成守约方签署本协议的目的实现从根本上成为不可能，则守约方有权在做出书面通知情况下提前解除本协议，违约方应赔偿守约方因违约方之违约行为而遭致的所有直接损失。</p>

        <h5>
        十、保密责任</h5>

        <p>10.1、未经对方书面许可，任何一方不得向第三方（法律规定除外）泄露本协议的条款的任何内容以及本协议的签订及履行情况，以及通过签订和履行本协议而获知的对方及对方关联公司的任何信息。</p>

        <p>10.2、本协议项下的保密义务为永久，本保密条款具有永久法律效力，除非经有关政府部门或司法机构强制要求或授权其顾问使用或该等保密信息经信息所有方宣布解密。</p>

        <h5>十一、合同的有效期</h5>

        <p>本合同有效期为1年，自双方签字并盖章之日起生效。若双方无异议，该协议到期后自动顺延。</p>

        <h5>十二、争议解决</h5>

        <p>12.1、因履行本协议而产生的任何纠纷，各方应首先友好协商解决。如协商不成，任何一方均</p>
        可将争议提交北京仲裁委员会，按其现行有效的仲裁规则进行仲裁。</p>

        <p>12.2、仲裁裁决为终局裁决，对各方当事人均具有约束力，各方均应主动履行而不得向任何其
        它部门申诉。</p>

        <p>12.3、仲裁的提起不影响本协议其他可履行部分的履行。否则，违约方应按本协议的约定向另
        一方承担赔偿责任。</p>

        <h5>十三、不可抗力</h5>

        <p>13.1、“不可抗力”是指双方不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据协议履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、黑客攻击、计算机病毒（如木马程序、蠕虫等）、电信部门技术性调整或任何其它类似事件。</p>

        <p>13.2、出现不可抗力事件时，受影响方应及时、充分地以书面形式通知对方，并告知对方该类事件对本协议可能产生的影响，并应当在合理期限（不可抗力事件发生后 30 日）内提供该等 事件的详细信息及由有关组织出具的解释受影响方因此无法履行全部或部分本协议项下义务的相关证明。</p>

        <p>13.3、由于以上所述不可抗力事件致使协议的部分或全部不能履行或延迟履行，则双方于彼此间不承担任何违约责任。</p>

        <h5>十四、其他</h5>

        <p>14.1、本协议自双方签字之日起生效。</p>

        <p>14.2、本协议的所有附件是本协议不可分割的一部分，本协议及其附件构成双方就本协议规定</p>
        的标的达成的完整协议，并取代双方先前与该标的有关的一切口头和书面的洽谈、谈判、通知、备忘录、文件、协议、合同和通讯。

        <p>14.3、无论因何种原因（包括但不限于违反适用的法律法规）导致本协议任何条款完全或部分无效或不具有执行力，不影响本协议任何其他条款的效力、合法和可执行性。</p>

        <p>14.4、未经一方事先书面同意，本协议另一方不得部分或全部转让其在本协议项下的权利和义务</p>

        
    </div>
</div>
</div>






