
<div class="container">
    <div class="card">
        <div class="card-header" id="entrust">
            <h2>FAQ</h2>
        </div>
        <div class="card-body card-padding">

            <ul class="tab-nav " role="tablist">
                <li class="btn-wave active" role="presentation"><a href="#agent" aria-controls="agent" role="tab" data-toggle="tab">委托方</a></li>
                <li class="btn-wave" role="presentation"><a href="#debtor" aria-controls="debtor" role="tab" data-toggle="tab">催收方</a></li>
            </ul>

        <!-- Tab panes -->
        <div class="tab-content faq">
            <div role="tabpanel" class="tab-pane active" id="agent">

                <h5>Q：我有债务要委托，如何使用该平台？</h5>
                <p>A：您好！新用户需要用电话或者邮箱先注册账号，注册成功后才能以会员身份登录平台，请单击首页注册按钮 <img src="images/faq/reg.png" alt="注册按钮" /> 进入注册界面进行注册，登录后请参考帮助信息发布委托；</p>

                <h5>Q：如何发布我的债权？</h5>
                <p>A：您好！请登录后在会员首页右下角点击 <img src="images/faq/new.png" alt="新建委托"/> ，或在会员首页左上角点击 <img src="images/faq/nav.png" alt="导航按钮" /> ，进入用户菜单，点击我的债权中“新建债务”，即可发布，发布时需要提交身份证明等债务相关证明资料；</p>

                <h5>Q：如何修改已经发布的债权代理？</h5>
                <p>A：您好！您提交后还处于“待审核”状态的债务单可以进行修改，如果变为“审核中”的状态就不允许修改，只能联系客服人员处理，电话：400。</p>

                <h5>Q：如何审核我的债权代理？</h5>
                <p>A：您好！请登录后进入用户菜单，点击我的委托，再点击对应委托单的 <img src="images/faq/view.png" alt="查看委托" /> 进入，找到竞标列表可查看各个催收竞标方的详细信息，选择一个合适的竞标催收方点击 <img src="images/faq/verticaldot.png" alt="查看更多按钮" /> 中标；</p>

                <h5>Q：如何查看和了解我的债权催收进展？</h5>
                <p>A：您好！请登录后进入用户菜单，点击我的委托，再点击对应委托单的 <img src="images/faq/view.png" alt="查看委托" /> 进入，查看催收动态了解详细信息；</p>

                <h5>Q：如果长时间没有催收方竞标怎么办？</h5>
                <p>A：您好！可以在个人中心>我的债权>我的委托中找到债权代理，点击修改，提高“佣金费率”来吸引催收方抢单；</p>

                <h5>Q：催收完成后，怎样把的钱转到我自己的银行卡？</h5>
                <p>A：您好！您可以在个人中心>账户余额中点击，再填写个人相关账号信息后，在5个工作日内即可以转到您的银行卡中。</p>
                
            </div> <!--/ END of tabpanel -->
            
            <div role="tabpanel" class="tab-pane" id="debtor">

                <h5>Q：如何查看和了解债权人委托的信息？</h5>
                <p>A：您好！请登录后在会员首页左上角点击 <img src="images/faq/logo.png" alt="logo" /> ，进入债权列表，可以看到当前所有的债权代理，可以按发布时间、资产金额、所属地区筛选其中的一个债权代理点击 <img src="images/faq/view.png" alt="查看委托" />  进入，了解该债权相关详细信息，填写代理费率，并支付10%，最高500元每笔的保证金后点击 <img src="images/faq/bid.png" alt="出价按钮" /> 参与竞标；</p>

                <h5>Q：如何修改竞标？</h5>
                <p>A：您好！参与竞标后不能修改，如果需要修改可以先点击退出竞标后，重新参与竞标；</p>

                <h5>Q：如何查看和了解我是否中标？</h5>
                <p>A：您好！请登录后在会员首页左上角点击 <img src="images/faq/nav.png" alt="导航按钮" /> ，进入用户菜单，点击我的债权查看我的竞标，再点击对应竞标的委托单 <img src="images/faq/view.png" alt="查看委托" /> 进入，了解该债权所有竞标相关详细信息；</p>

                <h5>Q：如何记录中标后的催收跟进情况？</h5>
                <p>A：您好！请登录后在会员首页左上角点击 <img src="images/faq/nav.png" alt="导航按钮" /> ，进入用户菜单，点击我的债权查看我的中标，再点击对应中标的委托单 <img src="images/faq/view.png" alt="查看委托" /> 进入，点击催收动态 <img src="images/faq/new.png" alt="添加催收动态按钮" /> 增加填写催收信息；</p>

                <h5>Q: 催收完成后，我如何拿到佣金？</h5>
                <p>A：您好！催收完成后，平台会根据您的催收记录对照相应债务方的回款记录结算您的佣金，再一个月内支付到您的银行账户；</p>

                <h5>Q:  中标后如催收很长时间没有进展怎么办，保证金能退回吗？</h5>
                <p>A：您好！如果催收过程中连续15天都没有实质进展，可以申请退单，平台客服人员审核通过后即可退回保证金到您平台账户余额里；</p>

                <h5>Q：保证金怎么申请退回到我自己的银行卡里？</h5>
                <p>A：您好！您可以在个人中心>账户余额中点击 <img src="images/faq/withdraw.png" alt="提现按钮" /> ，再填写个人相关账号信息后，在5个工作日内即可以转到您的银行卡中；</p>

                <h5>Q：债务方不愿意还款到平台账户，怎么办？</h5>
                <p>A：您好！您中标后，可以在系统中生成一份委托协议，证明债权方将这笔债务授权到点点债平台催收，您通过竞标得到点点债平台的授权，以此说服债务人还款到平台账户。</p>
                
            </div> <!--/ END of tabpanel -->
        </div>
            
        </div>
    </div>
</div>
