<div class="container">
    <div class="block-header">
        <h2>人员招聘</h2>
    </div>

    <div class="card">
        <div class="card-body card-padding">
            <div class="jumbotron">
                <h1>加入我们</h1>
                <p class="m-t-30">收拾行李，寻找最新的自己青春是挽不回的水，转眼消失在指尖，用力的浪费，再用力的后悔，不要沉溺于过去，接受新的生活，新的自己，新的团队！ 在这里，你能收获的不仅仅是高薪，还有技能、知识和家人！收拾行李，寻找新的自己，加入我们吧！</p>
            </div>
        </div>
    </div>


            <div class="card">
                <div class="card-header">
                    <h2>市场拓展经理</h2>
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="p-20" href="mailto:hr@ddzhai.cn">现在申请</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">岗位职责</p>
                            <ol>
                                <li>负责开拓、维护委外催收机构</li>
                                <li>负责对催收外包机构现场业务与非现场业务的稽核</li>
                                <li>负责与委外催收机构业务对接及绩效督导</li>
                                <li>领导交办的其他工作</li>
                            </ol>
                        </div>

                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">任职要求</p>
                            <ol>
                                <li>大学本科（含）以上学历</li>
                                <li>具备较强的专业知识及技能，较强的沟通能力</li>
                                <li>熟悉外包催收机构催收事务和P2P信贷行业相关的政策法规，对互联网金融行业有一定的认识</li>
                                <li>有简单处理图片的能力</li>
                                <li>责任心强、具亲和力，有良好的沟通、实施能力及团队合作精神</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>            

            <div class="card">
                <div class="card-header">
                    <h2>商务运营</h2>
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="p-20" href="mailto:hr@ddzhai.cn">现在申请</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">岗位职责</p>
                            <ol>
                                <li>对收到的逾期债务整理分类外包</li>
                                <li>对催收公司进行督导</li>
                                <li>回款账务核对</li>
                                <li>完成上级交办的其他工作</li>
                            </ol>
                        </div>

                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">任职要求</p>
                            <ol>
                                <li>大学全日制本科或以上学历，数学、统计、计算机、金融等相关专业者优先</li>
                                <li>熟练掌握Microsoft office word、excel、ppt</li>
                                <li>诚实守信</li>
                                <li>有较强的需求分析能力、逻辑推理能力、沟通协调能力</li>
                                <li>性格开朗，善于思考、创新，具有较强分析总结能力，抗压性较强，并需具备强烈的工作责任心及优秀的团队合作精神</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>            

            <div class="card">
                <div class="card-header">
                    <h2>数据专员</h2>
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="p-20" href="mailto:hr@ddzhai.cn">现在申请</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">岗位职责</p>
                            <ol>
                                <li>负责完成针对金融数据的统计分析、报表汇总等相关工作</li>
                                <li>负责完善数据分析标准体系与分析模型</li>
                                <li>辅助其它部门完成必要的数据统计信息</li>
                                <li>完成部门领导交予的其它工作</li>
                            </ol>
                        </div>

                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">任职要求</p>

                            <ol>
                                <li>本科（全日制统招）及以上学历，统计、信息技术、经济学等相关专业</li>
                                <li>踏实稳重，认真仔细，较强的沟通协调能力及分析能力</li>
                                <li>熟练运用excel等数据统计及相关分析软件</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>            

            <div class="card">
                <div class="card-header">
                    <h2>催收专员</h2>
                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="p-20" href="mailto:hr@ddzhai.cn">现在申请</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">岗位职责</p>
                            <ol>
                                <li>负责对不同风险程度的逾期客户开展电话催收工作</li>
                                <li>针对不同违约客户，不断提升催收质量和效果</li>
                                <li>结合日常催收工作中发现的问题和操作经验，对审核、催收工作提出优化建议</li>
                                <li>积极参与部门及组内活动，有效发挥自己的特长，为团队建设出谋划策</li>
                                <li>完成领导交办的其他工作</li>
                            </ol>
                        </div>
                        <div class="col-sm-5 m-b-25">
                            <p class="c-black">任职要求</p>
                            <ol>
                                <li>大专以上学历，法律、经济、金融类专业优先</li>
                                <li>较强的沟通、分析判断能力以及组织协调能力</li>
                                <li>诚实守信</li>
                                <li>具有高度责任感、团队合作精神</li>
                                <li>能够承受较大的工作压力</li>
                                <li>有个人授信、小额贷款审查、信用管理、催收等经验1年以上优先</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


</div>
