
<div class="container">
	<div class="row form-box">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h1>手机验证</h1>
            <p class="text-muted">为了保证你的帐号安全, 请输入你的手机号码。你需要在下一步输入我们给你发的
            短信验证码。</p>
            <form name="verifySmsForm">
                <div class="form-group input-group">
                    <span class="input-group-addon">+86</span>
                    <input type="text" name="mobile" class="form-control" placeholder="手机号码"/>
                </div>
                <div class="form-group clearfix">
                    <input type="button" class="btn btn-primary col-xs-12" value="验证手机号码" ui-sref="site.register3"/>
                </div>
                <div class="form-group text-muted">
                    <small>注: 你的手机号码不会公开显示。你的移动运营商可能会收取标准短信费用。</small>
                </div>
            </form>
        </div>
    </div>
</div>
