        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>公司介绍</h1>
                </div>

                <div class="card-body card-padding">
                    <p>深圳市点点债互联网金融服务有限公司，是国内首家针对不良资产清收服务P2P以及O2O平台。</p>
                    <p>点点债致力于搭建跨地域的互联网不良资产处置平台，构建健康的金融生态圈，通过共享全国不良资产处置资源提高不良资产处置效率和成功率，最终形成个人以及企业信用大数据的一个源头，让不良资产处置更加便捷，高效。</p>
                    <p>放眼未来，在经济金融全球化大潮中以及民间经济活跃的情况下，当前面临着如对P2P公司，金融消费贷公司等没有专业的团队处理日渐增长的个人不良债权，对个体债权人，没有一个有效的途径和选择追讨债务，对企业，催收机构选择少，催收成本高，不能解决跨地域问题，深圳点点债服务平台应运而生，将以上问题得以解决。</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h1>业务介绍</h1>
                </div>

                <div class="card-body card-padding">
                    <p>不良资产催收平台运营服务是深圳点点债核心业务之一，后期将把催收系统的功能合并到平台，实现云催收智能跟进系统；运营团队均有多年软件开发和运维的经验，以及在不良资产催收行业中实战的经验，把不良资产催收领域先进的技术支持及先进的服务理念引入到运营服务平台，让不良资产债权人能方便的找到催收代理人，快捷的确定委托催收代理人，并能及时了解催收动态和进展，尽快收回原不良资产。平台利用当前最先进的IT技术保证债权人、债务人等相关信息资料的安全；合作的催收代理单位和个人具备相关行业的资质，以完全合法的手段，根据不同情况制定最佳追偿方案，通过诉讼或非诉讼的方式完成委托任务，尽快达到追偿欠款的目的，可以最大限度地保障了委托人的合法利益，有效地防止资产转移，恶意拖欠和逃废债务等情况的发生，同时省去许多程序上和手续上的繁琐，为委托人赢得宝贵的时间，避免更大的损失。 </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>加入我们</h2>

                            <ul class="actions">
                                <li class="dropdown action-show">
                                    <a href="" data-toggle="dropdown">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <div class="dropdown-menu pull-right">
                                        <p class="p-20">
                                            现在就申请
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            <p>收拾行李，寻找最新的自己青春是挽不回的水，转眼消失在指尖，用力的浪费，再用力的后悔，不要沉溺于过去，接受新的生活，新的自己，新的团队！ 在这里，你能收获的不仅仅是高薪，还有技能、知识和家人！收拾行李，寻找新的自己，加入我们吧！</p>
                            <p class="c-black m-t-25">欢迎加入点点债，联系方式如下：</p>
                            <p>电话：0755-6669 2783</p>
                            <p>Email：hr@ddzhai.cn</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="min-height: 330px">
                        <div class="card-header">
                            <h2>联系方式</h2>

                            <ul class="actions">
                                <li class="dropdown action-show">
                                    <a href="" data-toggle="dropdown">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <div class="dropdown-menu pull-right">
                                        <p class="p-20">
                                            现在就联系
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            <p class="c-black m-t-20">深圳市点点债金融服务有限公司</p>
                            <p>地址：深圳市南山区虚拟大学园409</p>
                            <p>邮编：518057</p>
                            <p>电话：0755-6669 2783</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
