<header id="header" data-ng-include src="'includes/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include src="'includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>公司介绍</h1>

                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    马上联系
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    <p>点点债（www.ddzhai.cn)，是国内第一家个人和企业都能参与的不良资产清收服务O2O平台。点点债致力于互联网金融生态圈的健康发展与服务创新，构建大数据不良资产清收服务平台，让不良资产处置变得简单、高效。</p>
                    <p>点点债整合全国的P2P、小贷公司、消费金融等（类）金融公司的不良资产，让催收方获得持续、稳定、透明的不良资产。</p>
                    <p>点点债解决了传统催收模式中不良资产委单方和催收方之间的信息不对称、沟通成本高的问题，利用互联网布局全国催收公司从而打破地域壁垒，降低委单成本，实现资源配置最优化，让不良资产的清收变得更简单、更高效。</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h1>产品与服务</h1>

                    <ul class="actions">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <div class="dropdown-menu pull-right">
                                <p class="p-20">
                                    马上联系
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    <p>按照委案逾期时间、类型、地区等特点，通过大数据分析计算，为委案在平台内匹配最优催收服务企业；点点债致力于成为信贷企业最可信赖的委外筛选平台、催收企业最勤劳的市场开拓专家。</p>

                    <div class="clearfix"></div>

                    <p>迄今为止，点点债是国内唯一一家通过数据信息服务，为不良资产委托方和清收服务方提供一站式清收服务的O2O平台。</p>

                    <div class="clearfix"></div>

                    <p>针对债务人确不能偿还不良资产，平台提供专业资产处置管理方案，不良资产处置大体经过以下几个步骤：</p>
                    <p>确定拟处置的不良资产，债权评估、风险定价；谈判，即债权评估出结果后再与债权方谈判；打包、重组、拍卖不良资产；债权交接、债权转让；发布成功处置的不良资产案例通告。</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>加入我们</h2>

                            <ul class="actions">
                                <li class="dropdown action-show">
                                    <a href="" data-toggle="dropdown">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <div class="dropdown-menu pull-right">
                                        <p class="p-20">
                                            现在就申请
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            <p>收拾行李，寻找最新的自己青春是挽不回的水，转眼消失在指尖，用力的浪费，再用力的后悔，不要沉溺于过去，接受新的生活，新的自己，新的团队！ 在这里，你能收获的不仅仅是高薪，还有技能、知识和家人！收拾行李，寻找新的自己，加入我们吧！</p>
                            <p class="c-black m-t-25">欢迎加入点点债，联系方式如下：</p>
                            <p>电话：0755-6669 2783</p>
                            <p>Email：hr@ddzhai.cn</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="min-height: 330px">
                        <div class="card-header">
                            <h2>联系方式</h2>

                            <ul class="actions">
                                <li class="dropdown action-show">
                                    <a href="" data-toggle="dropdown">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <div class="dropdown-menu pull-right">
                                        <p class="p-20">
                                            现在就联系
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            <p class="c-black m-t-20">深圳市点点债金融服务有限公司</p>
                            <p>地址：深圳市南山区虚拟大学园409</p>
                            <p>邮编：518057</p>
                            <p>电话：0755-6669 2783</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>



 