

<div ng-controller="indexController3 as ctrl" id="index">


<!-- =========================
   HEADER
============================== -->
<header id="header" >
<div class="container">
<ul class="header-inner">
    <li class="logo ">
        <a ui-sref="site.index">
            <img src="images/logo/logo-nav.png" class="logo" alt="点点债" /> 点点债
        </a>
    </li>
    <li class="pull-right">
        <a ui-sref="site.login({type:1})" class="btn btn-primary bgm-gray btn-index">登陆</a> <!-- custom-button -->
        <a ui-sref="site.login({type:2})" class="btn btn-primary bgm-orange btn-index">注册</a> <!-- custom-button -->
    </li>
</ul>
</div>
</header>




<!-- =========================
   BANNER SECTION       
============================== -->

<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
<section class="banner" >

    <div id="banner" class="owl-carousel owl-theme">
        <!-- 
        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/10.jpg)'></a> </div>
        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/11.jpg)'></a> </div>

        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/1.jpg)'></a> </div>
        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/2.jpg)'></a> </div>
        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/3.jpg)'></a> </div>
        <div class="banner-item" > <a href="javascript:;" style='background-image:url(../images/banner/4.jpg)'></a> </div>
        -->
        <div class="banner-item" > <div style='background-image:url(../images/banner/10.jpg)'></div> </div>
        <div class="banner-item" > <div style='background-image:url(../images/banner/11.jpg)'></div> </div>

        <div class="banner-item" > <div style='background-image:url(../images/banner/1.jpg)'></div> </div>
        <div class="banner-item" > <div style='background-image:url(../images/banner/2.jpg)'></div> </div>
        <div class="banner-item" > <div style='background-image:url(../images/banner/3.jpg)'></div> </div>
        <div class="banner-item" > <div style='background-image:url(../images/banner/4.jpg)'></div> </div>
    </div>

</section>    





<!-- =========================
   ABOUT SECTION      
============================== -->

<section class="about" id="about">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2" style="padding-bottom:10px;">

        <div class="header-subject">
            <div class="subject">
                <h1> A </h1>
                <h7>about</h7>
            </div>
        </div>
        <h4>关于点点债</h4>
		
	</div>
	<!-- / END SECTION HEADER -->

    <hr />
    
    <div class="row wow fadeInUp animated" data-wow-offset="40" data-wow-duration="2.5s" data-wow-delay="0.15s">
        <div class="col-lg-6 col-sm-6">
            <p class="m-b-40">点点债致力于搭建跨地域个人互联网不良资产处置平台，构建健康的金融生态圈，通过共享全国不良资产处置资源提高不良资产处置效率和成功率，最终形成个人以及企业信用大数据的一个源头，让不良资产处置更加便捷，高效。
            </p>
        </div>
        <div class="col-lg-2 col-sm-2">
            <div class="stat">
                <h7>
                    累计交易(万元)
                </h7>
                <h1 class="c-orange">600952</h1>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2">
            <div class="stat">
                <h7>
                    催收团队(人)
                </h7>
                <h1 class="c-orange">800</h1>
            </div>
        </div>
        <div class="col-lg-2 col-sm-2">
            <div class="stat">
                <h7>
                    合作机构(家)
                </h7>
                <h1 class="c-orange">20023</h1>
            </div>
        </div>
    </div>
    
</div> <!-- / END CONTAINER -->
</section> <!-- / END ABOUT SECTION -->



<!-- =========================
   STRENGTH SECTION      
============================== -->

<section class="strength" id="strength">
<div class="container">

    <div class="row">

        <!-- FIRST FOCUS BOXES -->
		<div class="col-lg-3 col-sm-3 feature-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="feature-icon">
				<img src="images/index/pin.png" alt="" />
			</div>
			<h5>跨地域</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				覆盖全国34个省2000多个市
			</p>
		</div>
		<!-- / END FIRST FOCUS BOX. Other boxes has same format -->

        <div class="col-lg-3 col-sm-3 feature-box red wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="feature-icon">
				<img src="images/index/lamp.png" alt="" />
			</div>
			<h5>债权代理</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				健全的信用评估体系 <br />
                全国催收资源参与债权处置
			</p>
		</div>

        <div class="col-lg-3 col-sm-3 feature-box red wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="feature-icon">
				<img src="images/index/money.png" alt="" />
			</div>
			<h5>债权转让</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				快捷、高效、一站式服务
			</p>
		</div>

        <div class="col-lg-3 col-sm-3 feature-box red wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<div class="feature-icon">
				<img src="images/index/shield.png" alt="" />
			</div>
			<h5>零风险</h5> <!-- FOCUS HEADING -->
			<p> <!-- FOCUS DESCRIPTION -->
				第三方平台资金监管
			</p>
		</div>
        
    </div>
    
</div> <!-- / END CONTAINER -->
</section> <!-- / END STRENGTH SECTION -->
        


<!-- =========================
   WORKS SECTION      
============================== -->

<section class="works" id="works">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2">

        <div class="header-subject">
            <div class="subject">
                <h1> D </h1>
                <h7>debt</h7>
            </div>
        </div>
        <h4>债务信息</h4>
	</div>
	<!-- / END SECTION HEADER -->

    
	<div class="row projects">
	<div id="loader">
	    <div class="loader-icon"></div>
	</div>

    <div class="col-sm-3" ng-repeat="debt in ctrl.debtList">
        <div class="card wow animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s"
             ng-class="['fadeInLeft','','','fadeInRight'][$index % 4]">
            <div class="card-header bgm-orange" >
                <!-- ng-class="['bgm-cyan','bgm-red','bgm-orange','bgm-green','bgm-purple','bgm-gray','bgm-teal','bgm-yellow'][$index % 8]" -->
                <h2>{{debt.money | ccurrency}} </h2>
                <small>发布时间: {{debt.publishTime | idate}}</small>
            </div>
            <div class="card-body card-padding">            
                <p><i class="zmdi zmdi-time"></i>&nbsp;&nbsp;{{debt.duration}}天</p>
                <p><i class="zmdi zmdi-pin"></i>&nbsp;&nbsp;{{debt.debtorLocation}}</p>
                <p ng-show="debt.type==1"><i class="zmdi zmdi-card"></i>&nbsp;&nbsp;{{debt.type | debtType}} &nbsp; 费率 {{debt.rate}}%</p>
                <p ng-show="debt.type==2"><i class="zmdi zmdi-card"></i>&nbsp;&nbsp;{{debt.type | debtType}} &nbsp; {{debt.price | ccurrency}}起拍</p>
            </div>
        </div>
    </div>
	
	</div>
	<!-- END OF PORTFOLIO ITEMS-->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END WORKS SECTION -->




<!-- =========================
   MEDIA 
============================== -->

<section id="media" class="media">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2">

        <div class="header-subject">
            <div class="subject">
                <h1> M </h1>
                <h7>media</h7>
            </div>
        </div>
        <h4>媒体报道</h4>
	</div>
	<!-- / END SECTION HEADER -->

    <div class="row">
        <div class="col-sm-12 col-lg-12">

            <div id="media-owl" class="owl-carousel owl-theme-my">
                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p1.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>
                
                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p2.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>
                
                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p3.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>

                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p4.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>

                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p5.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>

                <div class="myitem">
                    <div class="thumbnail">
                        <img src="../images/index/media/p6.jpg"/>
                        <div class="caption">
                            <h4>移动端Cell栏表单设计问题汇总</h4>
                            <p>总表单是用户用来获取服务的重要输入工具，也是收集UGC的重要入口，更是用户与移动端交互的重要途径。</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
</div><!-- / END MEDIA -->
</section> <!-- / END MEDIA SECTION -->







<!-- =========================
   COOPER 
============================== -->

<section id="cooper" class="cooper">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2">

        <div class="header-subject">
            <div class="subject">
                <h1> C </h1>
                <h7>cooper</h7>
            </div>
        </div>
        <h4>合作机构</h4>
	</div>
	<!-- / END SECTION HEADER -->

    <div class="row wow fadeInUp animated" data-wow-offset="40" data-wow-duration="2.5s" data-wow-delay="0.15s">
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico1"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico2"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico3"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico4"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico5"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico6"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico7"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico8"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico9"></i>
        </div>
        <div class="col-sm-2 col-lg-2">
            <i class="cooper-ico ico10"></i>
        </div>
    </div>

</div>
</section>




<!-- =========================
   OUR TEAM SECTION   
============================== -->

<section  id="team">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2">

        <div class="header-subject">
            <div class="subject">
                <h1> T </h1>
                <h7>team</h7>
            </div>
        </div>
        <h4>精英催收团队</h4>
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="m-t-30 c-gray">
			团队是由员工和管理层组成的一个共同体，该共同体合理利用每一个成员的知识和
            能协同工作，解决问题，达到共同的目标。
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- TEAM MEMBERS -->
	<div class="row wow fadeInRight animated" data-wow-offset="40" data-wow-duration="2.5s" data-wow-delay="0.15s">
		<!-- MEMBER -->
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic"> 
				<img src="images/team/pic1.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-bottom">张三</h5>
					<div class="position">
						<rating ng-model="ctrl.rating" readonly="true"></rating>
					</div>
				</div>
                <!-- 
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-dribbble"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
                 -->
			</div>
		</div>
		<!-- / END MEMBER -->
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic2.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text green-border-bottom">李四</h5>
					<div class="position">
						<rating ng-model="ctrl.rating" readonly="true"></rating>
					</div>
				</div>
                <!-- 
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
                 -->
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic3.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text blue-border-bottom">王五</h5>
					<div class="position">
						<rating ng-model="ctrl.rating" readonly="true"></rating>
					</div>
				</div>
                <!-- 
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
                 -->
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3">
			<div class="team-member">
				<figure class="profile-pic">
				<img src="images/team/pic8.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text yellow-border-bottom">郑六</h5>
					<div class="position">
						<rating ng-model="ctrl.rating" readonly="true"></rating>
					</div>
				</div>
                <!-- 
				<div class="social-icons">
					<ul>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href=""><i class="icon-twitter-alt"></i></a></li>
						<li><a href=""><i class="icon-behance"></i></a></li>
						<li><a href=""><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sapiente voluptate nostrum ipsa tempora optio facilis beatae quo aut error corrupti officiis dolore accusantium rem rerum illum nulla sed quisquam.
					</p>
				</div>
                 -->
			</div>
		</div>
	</div> <!-- / END TEAM MEMBER LIST -->
	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->



<!-- =========================
   BUSINESS SECTION   
============================== -->

<section id="business" class="business">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header2">

        <div class="header-subject">
            <div class="subject">
                <h1> B </h1>
                <h7>busin</h7>
            </div>
        </div>
        <h4>业务流程</h4>
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="m-t-30 c-gray">
			帮助每个人实现财富自由，享受普惠共羸的专业互联网金融服务平台。
		</h6>
	</div>
	<!-- / END SECTION HEADER -->

    <div class="row wow fadeInLeft animated" data-wow-offset="40" data-wow-duration="3s" data-wow-delay="0.15s">
		<div class="col-lg-6 col-sm-6">
            <div class="flow-title bgm-orange">
                债权方流程
            </div>
            <div class="flow creditor">
            </div>
        </div>
		<div class="col-lg-6 col-sm-6">
            <div class="flow-title bgm-teal">
                催收方流程
            </div>
            <div class="flow collection">
            </div>
        </div>
    </div>

	
</div> <!-- / END CONTAINER -->
</section> <!-- / END OUR TEAM SECTION -->
    


<!-- footer -->
<footer id="footer" data-ng-include src="'includes/footer-index.html'"></footer>


</div>
<!-- / END CONTROLLER -->
