
<div class="upload well well-sm">
    <div>{{title}}<span style='color:red' ng-show="require">*</span></div>
    <br>
    <input class="btn btn-default btn-block" type="file" name="{{parameter}}"/>
    <ul class="list-group upload-list" >
        <li ng-repeat="file in fileList" class="list-group-item">
            {{file.filename}}
            <span class="pull-right">
                <i class="fa fa-check-circle text-success"></i>
                <a href="javascript:;" class="text-muted" ng-click="erase(this)"><i class="zmdi zmdi-close"></i></a>
            </span>
        </li>
    </ul>
</div>
