
    <div class="container ng-scope">
        <div class="card">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-pencil" ></span> 发布债权</h2>
            </header>
            <div ng-controller="debtController as controller" class="card-body card-padding ">
                <form class="form-horizontal w5c-form" role="form"
                      w5c-form-validate="validateOptions" novalidate name="validateForm">
                    <div class="row">

                         <div class="col-sm-offset-2 col-sm-8" ng-show="step1">
                                    <!--<div class="card">-->
                                        <!--<div class="card-header ch-alt">-->
                                            <!--<h5>债权基本信息</h5>-->
                                        <!--</div>-->
                                        <!--<div class="card-body card-padding">-->
                                            <div class="form-group  fg-float">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="money" ng-model="controller.debt.money"  class="form-control"
                                                           maxlength="10"  required>
                                                </div>
                                                <label class="fg-label">债务总金额(单位:元)<span class  ="inputflag">*</span> </label>
                                            </div>
                                            <div class="form-group fg-float" moneystyle ng-show="controller.debt.type ==2">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="price" ng-model="controller.debt.price"  class="form-control" ng-blur="controller.checkprice(controller.debt.money,controller.debt.price)"
                                                           maxlength="9" ng-required="controller.debt.type==2">
                                                </div>
                                                <label class="fg-label">起拍价格(单位:元)<span class="inputflag">*</span></label>
                                            </div>
                                            <div class="form-group fg-float" moneystyle ng-show="controller.debt.type ==2">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="bidIncrease"  ng-model="controller.debt.bidIncrease"  class="form-control" ng-blur="controller.checkbidIncrease(controller.debt.money,controller.debt.price,controller.debt.bidIncrease)"
                                                           maxlength="9"  ng-required="controller.debt.type==2">
                                                </div>
                                                <label class="fg-label">加价幅度(单位:元)<span class="inputflag">*</span></label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">债权类型</label>

                                                <div class="col-sm-9 radio" ng-init="controller.debt.type=1" >
                                                    <label class="m-r-10">
                                                        <input type="radio" name="debttype" ng-model="controller.debt.type" value="1" required /> <i class="input-helper"></i>债权代理
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="debttype" ng-model="controller.debt.type" value="2" required /> <i class="input-helper"></i>债权转让
                                                    </label>
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                 <label class="col-sm-2 control-label">债权性质</label>
                                                 <div class="col-sm-9 radio" ng-init="controller.debt.property=1" >
                                                     <label class="m-r-10">
                                                         <input type="radio" name="property" ng-model="controller.debt.property" value="1" required /> <i class="input-helper"></i>消费贷
                                                     </label>
                                                     <label class="m-r-10">
                                                         <input type="radio" name="property" ng-model="controller.debt.property" value="2" required /> <i class="input-helper"></i>信用卡
                                                     </label>
                                                     <label class="m-r-10">
                                                         <input type="radio" name="property" ng-model="controller.debt.property" value="3" required /> <i class="input-helper"></i>房 贷
                                                     </label>
                                                     <label class="m-r-10">
                                                         <input type="radio" name="property" ng-model="controller.debt.property" value="4" required /> <i class="input-helper"></i>民间借贷
                                                     </label>
                                                     <label >
                                                         <input type="radio" name="property" ng-model="controller.debt.property" value="10" required /> <i class="input-helper"></i>其它
                                                     </label>
                                                 </div>
                                             </div>
                                            <div class="form-group" ng-show="controller.debt.type ==1">
                                                <label class="col-sm-2 control-label">代理费率</label>
                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.rate=0">
                                                    <span>{{controller.debt.rate}}%</span>

                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px">
                                                    <div slider class="input-slider m-b-25"  ng-model="controller.debt.rate" start=10 end=100></div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="controller.debt.type ==1">
                                                <label class="col-sm-2 control-label">代理期限</label>

                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.duration=30">
                                                    <span>{{controller.debt.duration}}天</span>
                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px">
                                                    <div slider class="input-slider m-b-25" ng-model="controller.debt.duration" start=30 end=90></div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">竞标到期时间</label>

                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.expireDays=7">
                                                    <span>{{controller.debt.expireDays}}天</span>
                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px;">
                                                    <div slider class="input-slider m-b-25" ng-model="controller.debt.expireDays" start=1 end=15></div>
                                                </div>
                                            </div>

                                            <div class="form-group" >
                                                <div ng-uploader data-form-field="creditorIdFile" data-model-field="controller.debt.creditorIdFile" dat-form-title="债权人身份证照片" dat-form-require="true" data-amount=1></div>
                                                <input type="hidden" id="creditorIdFile"  />
                                            </div>
                                             <div class="form-group fg-float">
                                                 <div class="fg-line" >
                                                     <input type="text" name="creditorName"  ng-model="controller.debt.creditorName"  class="form-control"
                                                            maxlength="10"  required />
                                                 </div>
                                                 <label class="fg-label">债权人姓名<span class="inputflag">*</span></label>
                                             </div>

                                             <!-- 
                                             <div class="form-group">
                                                 <div class="fg-line" >
                                                     <input type="text" name="contactName" class="form-control" ng-model="contact.name" placeholder="名称" required/>
                                                 </div>
                                             </div>
                                              -->

                                             
                                             <div class="form-group">
                                                 <div class="col-sm-12">
                                                     <button type="buttom" ng-click="controller.goto()"  class="btn btn-primary btn-lg" ng-disabled="controller.debt.money==undefined || (controller.debt.type ==2 && (controller.debt.price==undefined || controller.debt.bidIncrease==undefined ) ) || controller.debt.creditorName==undefined || controller.debt.creditorIdFile==undefined" > 继续填写债务人信息 </button>
                                                     <span class="inputflag"> 注：带"*"号的选项必须全部填写才能激活按钮。</span>

                                                 </div>
                                             </div>
                                        </div>
                                    <!--</div>-->
                                   <!--</div>-->
                        <!--</div>-->
                    <!--<div clas="row">-->
                            <div class="col-sm-offset-2 col-sm-8" ng-show="step2">
                            <!--<div class="card">-->
                                <!--<div class="card-header ch-alt">-->
                                    <!--<h2>债务人信息</h2>-->
                                <!--</div>-->
                                <!--<div class="card-body card-padding">-->
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="name"  ng-model="controller.debt.debtorName" class="form-control"
                                                  maxlength="20" required>
                                        </div>
                                        <label class="fg-label">债务人姓名<span class="inputflag">*</span></label>
                                    </div>

                                    <!-- 
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="phone" maxlength="18" ng-model="controller.debt.debtorPhone" ng-pattern="/((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)/"  class="form-control"
                                                  required>
                                        </div>
                                        <label class="fg-label">债务人电话<span class="inputflag">*</span></label>
                                    </div>
                                     -->

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="idcard" ng-model="controller.debt.debtorId" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" class="form-control"
                                                   maxlength="18" required>
                                        </div>
                                        <label class="fg-label">债务人身份证号码<span class="inputflag">*</span></label>
                                    </div>
                                    
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <city-select ng-model="controller.debt.city" name="city" required></city-select>
                                            <input type="hidden" name="city" ng-model="controller.debt.debtorLocation" value="">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="address" ng-model="controller.debt.debtorAddr"  class="form-control"
                                                   maxlength="50" >
                                        </div>
                                        <label class="fg-label">居住地详细地址</label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="debtorCorpName" ng-model="controller.debt.debtorCorpName"  class="form-control"
                                                   maxlength="50" >
                                        </div>
                                        <label class="fg-label">单位名称</label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="debtorCorpAddr" ng-model="controller.debt.debtorCorpAddr"  class="form-control"
                                                   maxlength="50" >
                                        </div>
                                        <label class="fg-label">单位地址</label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="debtorHukouAddr" ng-model="controller.debt.debtorHukouAddr"  class="form-control"
                                                   maxlength="50" >
                                        </div>
                                        <label class="fg-label">户籍地址</label>
                                    </div>
                                    
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input data-dt-picker type="text" name="judgementtime" id="judgementtime"  class="form-control"  ng-model="controller.debt.judgementTime"
                                                   data-format="YYYY/MM/DD" ng-change="removeerror(controller.debt.judgementTime,'judgementtime')" maxlength="10" />
                                        </div>
                                        <label class="fg-label">判决时间</label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input data-dt-picker type="text" name="expiretime" id="expiretime" class="form-control"  ng-model="controller.debt.debtExpireTime"
                                                   data-format="YYYY/MM/DD" ng-change="removeerror(controller.debt.debtExpireTime,'expiretime')" maxlength="10"    required/>
                                        </div>
                                        <label class="fg-label">应归还时间<span class="inputflag">*</span></label>

                                    </div>
                                    <div class="form-group  fg-float" >
                                        <div class="fg-line" >
                                            <input type="text" ng-model="controller.debt.mortgage" class="form-control"
                                                   maxlength="50">
                                        </div>
                                        <label class="fg-label">抵押物</label>
                                    </div>

                                   
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <textarea  rows="3" name="reason" class="form-control"  maxlength="100"  ng-model="controller.debt.reason" required></textarea>
                                        </div>
                                        <label class="fg-label">债务成因<span class="inputflag">*</span></label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <textarea rows="3" class="form-control" ng-model="controller.debt.descript" maxlength="100"></textarea>
                                        </div>
                                        <label class="fg-label">其他</label>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">联系方式<span class="inputflag">*</span></label>
                                        <div class="col-sm-10 table-responsive" >
                                            <table class="table compact">
                                                <tbody>
                                                    <tr ng-repeat="contact in controller.debt.contacts">
                                                        <td>{{contact.name}} </td>
                                                        <td>{{contact.type | contactType }} </td>
                                                        <td>{{contact.phone}} </td>
                                                        <td>{{contact.memo}} </td>
                                                        <td><a style="color:inherit;" href="" ng-click="controller.removeRow(contact.phone)"><i class="zmdi zmdi-close"></i></a> </td>
                                                    </tr>
                                                    <tr class="clear-m">
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="fg-line">
                                                                    <input type="text" name="contactName" class="form-control" ng-model="contact.name" placeholder="名称" maxlength="10" />
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="90px" class="clear-m">
                                                            <div class="form-group">
                                                                <div class="fg-line">
                                                                    <!-- <div class="select"> -->
                                                                    <!-- </div> -->
                                                                    <select class="form-control" name="contactType" ng-model="contact.type" ng-options="contact.value as contact.name for contact in controller.contactTypes"  /> 
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="fg-line">
                                                                    <input type="text" name="contactPhone" class="form-control" ng-model="contact.phone" placeholder="电话"  maxlength="18"  /> 
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="fg-line">
                                                                    <input type="text" name="contactMemo" class="form-control" ng-model="contact.memo" placeholder="备注" maxlength="100"/>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="line-height:35px;">
                                                            <a href="" ng-click="controller.addContact(contact)" style="color:inherit;"><i class="zmdi zmdi-save zmd-2x"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div ng-uploader data-form-field="files" data-model-field="controller.debt.files" dat-form-title="债务相关附件"></div>
                                        <input type="hidden" id="files"  />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <button ype="buttom" ng-click="controller.goto()"  class="btn btn-primary btn-lg" > 返回上一步修改 </button>
                                        </div>
                                        <div class="col-sm-9">
                                            <button type="buttom" ng-click="controller.saveEntity(controller.debt)" w5c-form-submit="controller.saveEntity(controller.debt)"  class="btn btn-primary btn-lg" > 确认发布信息 </button>

                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                            <!--</div>-->
                </div>
                </form>

            </div>
        </div>
    </div>
































