<section  class="page-view ng-scope" data-ui-view="">
    <div class="container ng-scope">
        <div class="card">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-pencil" ></span> 发布债权</h2>
            </header>
            <div ng-controller="debtController as controller" class="card-body card-padding">
                <form class="form-horizontal w5c-form" role="form"
                      w5c-form-validate="validateOptions" novalidate name="validateForm">
                    <div class="row">

                         <div class="col-sm-offset-2 col-sm-8" ng-show="step1">
                                    <!--<div class="card">-->
                                        <!--<div class="card-header ch-alt">-->
                                            <!--<h5>债权基本信息</h5>-->
                                        <!--</div>-->
                                        <!--<div class="card-body card-padding">-->
                                            <div class="form-group  fg-float">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="money" ng-model="controller.debt.money"  class="form-control"
                                                           maxlength="15"  required>
                                                </div>
                                                <label class="fg-label">债务总金额(单位:元)<span class  ="inputflag">*</span> </label>
                                            </div>
                                            <div class="form-group fg-float" moneystyle ng-show="controller.debt.type ==2">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="price" ng-model="controller.debt.price"  class="form-control"
                                                           maxlength="15" ng-required="controller.debt.type==2">
                                                </div>
                                                <label class="fg-label">起拍价格(单位:元)<span class="inputflag">*</span></label>
                                            </div>
                                            <div class="form-group fg-float" moneystyle ng-show="controller.debt.type ==2">
                                                <div class="fg-line" >
                                                    <input type="text" moneystyle name="bidIncrease"  ng-model="controller.debt.bidIncrease"  class="form-control"
                                                           maxlength="15"  ng-required="controller.debt.type==2">
                                                </div>
                                                <label class="fg-label">加价幅度(单位:元)<span class="inputflag">*</span></label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">债权类型</label>

                                                <div class="col-sm-9 radio" ng-init="controller.debt.type=1" >
                                                    <label class="m-r-10">
                                                        <input type="radio" name="debttype" ng-model="controller.debt.type" value="1" required /> <i class="input-helper"></i>债权代理
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="debttype" ng-model="controller.debt.type" value="2" required /> <i class="input-helper"></i>债权转让
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group" ng-show="controller.debt.type ==1">
                                                <label class="col-sm-2 control-label">代理费率</label>
                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.rate=10">
                                                    <span>{{controller.debt.rate}}%</span>

                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px">
                                                    <div slider class="input-slider m-b-25"  ng-model="controller.debt.rate" start=10 end=100></div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-show="controller.debt.type ==1">
                                                <label class="col-sm-2 control-label">代理期限</label>

                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.duration=30">
                                                    <span>{{controller.debt.duration}}天</span>
                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px">
                                                    <div slider class="input-slider m-b-25" ng-model="controller.debt.duration" start=30 end=90></div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">竞标到期时间</label>

                                                <div class="col-sm-1" style="padding-top: 5px" ng-init="controller.debt.expireDays=7">
                                                    <span>{{controller.debt.expireDays}}天</span>
                                                </div>
                                                <div class="col-sm-9" style="padding-top: 15px;">
                                                    <div slider class="input-slider m-b-25" ng-model="controller.debt.expireDays" start=1 end=15></div>
                                                </div>
                                            </div>

                                            <div class="form-group" >
                                                <div ng-uploader data-form-field="creditorIdFile" data-model-field="controller.debt.creditorIdFile" dat-form-title="债权人身份证照片" dat-form-require="true"></div>
                                                <input type="hidden" id="creditorIdFile"  />
                                            </div>
                                             <div class="form-group fg-float">
                                                 <div class="fg-line" >
                                                     <input type="text" name="creditorName"  ng-model="controller.debt.creditorName"  class="form-control"
                                                            maxlength="10"  required>
                                                 </div>
                                                 <label class="fg-label">债权人姓名<span class="inputflag">*</span></label>
                                             </div>
                                             <div class="form-group">
                                                 <div class="col-sm-12">
                                                     <button type="buttom" ng-click="goto()"  class="btn btn-primary btn-lg" ng-disabled="controller.debt.money==undefined || (controller.debt.type ==2 && (controller.debt.price==undefined || controller.debt.bidIncrease==undefined ) ) || controller.debt.creditorName==undefined || controller.debt.creditorIdFile==undefined" > 继续填写债务人信息 </button>
                                                     <span class="inputflag"> 注：带"*"号的选项必须全部填写才能激活按钮。</span>
                                                 </div>
                                             </div>
                                        </div>
                                    <!--</div>-->
                                   <!--</div>-->
                        <!--</div>-->
                    <!--<div clas="row">-->
                            <div class="col-sm-offset-2 col-sm-8" ng-show="step2">
                            <!--<div class="card">-->
                                <!--<div class="card-header ch-alt">-->
                                    <!--<h2>债务人信息</h2>-->
                                <!--</div>-->
                                <!--<div class="card-body card-padding">-->
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="name"  ng-model="controller.debt.debtorName" class="form-control"
                                                  maxlength="20" required>
                                        </div>
                                        <label class="fg-label">债务人姓名<span class="inputflag">*</span></label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="phone" maxlength="15" ng-model="controller.debt.debtorPhone"  class="form-control"
                                                  required>
                                        </div>
                                        <label class="fg-label">债务人电话<span class="inputflag">*</span></label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="idcard" ng-model="controller.debt.debtorId" ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" class="form-control"
                                                   maxlength="18" required>
                                        </div>
                                        <label class="fg-label">债务人身份证号码<span class="inputflag">*</span></label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <city-select ng-model="controller.debt.city" name="city" required></city-select>
                                            <input type="hidden" name="city" ng-model="controller.debt.debtorLocation" value="">
                                        </div>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input type="text" name="address" ng-model="controller.debt.debtorAddr"  class="form-control"
                                                   maxlength="50" required>
                                        </div>
                                        <label class="fg-label">详细地址<span class="inputflag">*</span></label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input data-dt-picker type="text" name="judgementtime" id="judgementtime"  class="form-control"  ng-model="controller.debt.judgementTime"
                                                   data-format="YYYY/MM/DD" ng-change="removeerror(controller.debt.judgementTime,'judgementtime')"    required/>
                                        </div>
                                        <label class="fg-label">判决时间<span class="inputflag">*</span></label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <input data-dt-picker type="text" name="expiretime" id="expiretime" class="form-control"  ng-model="controller.debt.debtExpireTime"
                                                   data-format="YYYY/MM/DD" ng-change="removeerror(controller.debt.debtExpireTime,'expiretime')"    required/>
                                        </div>
                                        <label class="fg-label">应归还时间<span class="inputflag">*</span></label>

                                    </div>
                                    <div class="form-group  fg-float" >
                                        <div class="fg-line" >
                                            <input type="text" ng-model="controller.debt.mortgage" class="form-control"
                                                  max="10" min="1">
                                        </div>
                                        <label class="fg-label">抵押物</label>
                                    </div>

                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <textarea  rows="3" name="reason" class="form-control"  ng-model="controller.debt.reason" required></textarea>
                                        </div>
                                        <label class="fg-label">债务成因<span class="inputflag">*</span></label>
                                    </div>
                                    <div class="form-group  fg-float">
                                        <div class="fg-line" >
                                            <textarea rows="3" class="form-control" ng-model="controller.debt.descript"></textarea>
                                        </div>
                                        <label class="fg-label">其他</label>
                                    </div>
                                    <div class="form-group">
                                        <div ng-uploader data-form-field="files" data-model-field="controller.debt.files" dat-form-title="债务相关附件"></div>
                                        <input type="hidden" id="files"  />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <button ype="buttom" ng-click="goto()"  class="btn btn-primary btn-lg" > 返回上一步修改 </button>
                                        </div>
                                        <div class="col-sm-9">
                                            <button type="buttom" w5c-form-submit="controller.saveEntity(controller.debt)"  class="btn btn-primary btn-lg" > 确认发布信息 </button>

                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                            <!--</div>-->
                </div>
                </form>

            </div>
        </div>
    </div>
</section>
