
    <div class="container ng-scope">
        <div class="card" ng-controller="fundrecordController as ctrl">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-list" ></span> 资金记录</h2>
            </header>
            <div  class="card-body card-padding">
                    <div class="row qc-area">
                        <div class="col-xs-12" >
                            <div class="col-sm-5">
                            状态:&nbsp;&nbsp;
                            <div class="btn-group">
                                <div class="btn-group" ng-init="ctrl.q.type=0" data-toggle="buttons">
                                    <label class="btn btn-default active" ng-click="ctrl.q.type=0">
                                        <input type="radio" name="type" ng-model="ctrl.q.type" autocomplete="off" value="0" checked/>
                                        <i class="fa fa-user"></i> 收支明细
                                    </label>
                                    <label class="btn btn-default" ng-click="ctrl.q.type=1">
                                        <input type="radio" name="type" ng-model="ctrl.q.type" autocomplete="off" value="1" checked/>
                                        <i class="fa fa-user"></i> 充值记录
                                    </label>
                                    <label class="btn btn-default" ng-click="ctrl.q.type=4">
                                        <input type="radio" name="type" ng-model="ctrl.q.type" autocomplete="off" value="4" checked/>
                                        <i class="fa fa-user"></i> 提现记录
                                    </label>
                                </div>
                            </div>
                            </div>
                            <div class="col-sm-3">
                                <input data-dt-picker type="text" name="timeFrom" class="form-control"  ng-model="ctrl.q.timeFrom"
                                       data-format="YYYY/MM/DD" close-text="Close" placeholder="开始时间" />
                            </div>
                            <div class="col-sm-3">
                                    <input data-dt-picker type="text" name="timeTo" class="form-control"  ng-model="ctrl.q.timeTo"
                                           data-format="YYYY/MM/DD" close-text="Close" placeholder="结束时间" />
                            </div>
                        </div>
                    </div>
                <div class="card-body table-responsive">
                <table class="table table-hover" ng-show="fundrecordList.length>0">
                    <thead>
                    <tr>
                        <th width="120px"> 流水号 </th>
                        <th width="100px"> 类别 </th>
                        <th width="120px"> 委托单号 </th>
                        <th width="120px"> 操作金额（元） </th>
                        <th width="120px"> 余额（元） </th>
                        <th width="150px"> 操作时间 </th>
                        <th width="100px"> 状态 </th>
                        <th > 备注 </th>
                    </tr></thead>
                    <tbody >
                    <tr ng-repeat="fund in fundrecordList">
                        <td > {{fund.id}} </td>
                        <td> {{fund.type | moneyHistoryType}} </td>
                        <td> <a ui-sref="site.debt.detail({debtId:'{{ fund.debtId }}'})">{{ fund.debtId }}</a> </td>
                        <td> {{ fund.money | ccurrency}} </td>
                        <td> {{ fund.balance | ccurrency}} </td>
                        <td> {{fund.time | iwholedate }} </td>
                        <td> {{fund.state | moneyHistoryState}} </td>
                        <td> {{fund.descript}} </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="list-group">
                    <li class="list-group-item text-center" ng-hide="fundrecordList.length">暂无记录</li>
                </ul>
                <ul class="pagination">
                    <!-- 
                    <li class="first disabled" aria-disabled="true">
                        <a href="#first" class="button">«</a>
                    </li>
                     -->
                    <li class="prev" ng-class="{'disabled': ctrl.q.page == 1}" aria-disabled="true" ng-click="ctrl.prev()">
                        <a href="javascript:;" class="button">&lt;</a>
                    </li>
                    <!-- 
                    <li class="page-1 active" aria-disabled="false" aria-selected="true">
                        <a href="#1" class="button">1</a>
                    </li>
                    <li class="page-2" aria-disabled="false" aria-selected="false">
                        <a href="#2" class="button">2</a>
                    </li>
                     -->
                    <li class="next" ng-class="{'disabled': !ctrl.hasMore}" aria-disabled="false" ng-click="ctrl.next()"><a href="javascript:;" class="button">&gt;</a>
                    </li>
                    <!-- 
                    <li class="last" aria-disabled="false"><a href="#last" class="button">»</a></li>
                     -->
                </ul>
                </div>
            </div>
        </div>
    </div>

