    <div class="container">
        <div class="card" ng-controller="memberIndexController as ctrl">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-home" ></span> 会员首页</h2>
            </header>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-4">
                        
                        <div class="card ">
                            <div class="card profile-view">
                                <a href="#!/profile/{{ctrl.user.id}}">
                                    <div class="pv-header">
                                        <img ng-src="{{ctrl.user.head?ctrl.user.head:'../images/profile-pics/1.jpg'}}"    class="pv-main" alt=""/>
                                    </div>
                                </a>
                                <div class="pv-body">
                                    <h2>欢迎 {{ctrl.user.name}} <sup style="color: red" ng-show="ctrl.user.vip==1">{{ctrl.user.type==0?"个人":"企业"}}VIP</sup></h2>
                                    <small data-toggle="tooltip" data-placement="bottom" data-original-title="您的积分为: {{ctrl.user.rating}}">
                                        <a class="c-gray" ui-sref="site.member.rating">信用等级: <rating value="{{ctrl.user.rating | rating }}" readonly="true"></rating></a>
                                    </small>

                                        <div class="col-xm-6 m-b-10">
                                            <div ng-show="ctrl.user.mobile"><span class="btn btn-warning waves-effect"><i class="zmdi zmdi-smartphone-android"></i> {{ctrl.user.mobile}}</span> </div>
                                        </div>

                                        <div class="col-xm-6">
                                            <div ng-show="ctrl.user.email"> <span class="btn btn-warning waves-effect"><i class="zmdi zmdi-email"></i> {{ctrl.user.email}}</span> </div>
                                        </div>

                                    <ul class="pv-follow">
                                        <li><i class="zmdi zmdi-smartphone-android"></i>
                                            <a ui-sref="site.member.authmobile" ng-show="!isverifymobile">手机未验证</a>
                                            <span ng-show="isverifymobile">手机已验证</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-email"></i>
                                            <a ui-sref="site.member.authemail" ng-show="!isverifyemail" >邮箱未验证 </a>
                                            <span ng-show="isverifyemail">邮箱已验证</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-account-calendar"></i>
                                            <a href="#" ui-sref="site.member.auth" ng-show="ctrl.user.type==0 && !isverifyinfo">身份未验证 </a>
                                            <a href="#" ui-sref="site.member.auth" ng-show="ctrl.user.type==1 && !isverifyinfo">企业未验证 </a>
                                            <span ng-show="isverifyinfo">{{ctrl.user.type==0?"身份":"企业"}}已验证</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>  <!--/ END PROFILE -->

                        
                        <div id="account-balance" class="dash-widget-item bgm-teal">
                            

                            <div class="p-20">
                                <small>帐户余额</small>
                                <h3 class="m-0 f-400 ">{{ctrl.user.money | ccurrency }}</h3>

                                <br/>

                                <small>冻结金额</small>
                                <h3 class="m-0 f-400 ">{{ctrl.user.frozen | ccurrency }}</h3>
                            </div>
                            
                            <div class="dash-widget-footer">
                                <div class="split-btn-3">
                                    <a ui-sref="site.member.pay" class="btn1">充值</a>
                                    <a ui-sref="site.member.cash" class="btn1"> 提现</a>
                                    <a ui-sref="site.member.fundrecord" class="btn1">资金明细</a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>

                    
                    <div class="col-sm-8">

                        <!-- 
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bgm-lightblue" style="padding: 15px">
                                        <h2>帐户余额 </h2>
                                    </div>
                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="money">{{ctrl.user.money | ccurrency }}</span>
                                                <div class="pull-right">
                                                    <a ui-sref="site.member.pay" class="btn btn-default">充值</a> &nbsp;
                                                    <a ui-sref="site.member.cash"  class="btn btn-default">提现</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bgm-lightblue" style="padding: 15px">
                                        <h2>冻结资金 </h2>
                                    </div>
                                    <div class="card-body card-padding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="money">{{ctrl.user.frozen | ccurrency }}</span>
                                                <a ui-sref="site.member.fundrecord" class="btn btn-default pull-right">资金明细</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->


                        <div class="dash-widget-item bgm-cyan item-relative" ng-show="ctrl.user.role == 1">
                            <div class="dash-widget-header">
                                <div class="dash-widget-title">我发布的委托</div>
                            </div>

                            <div class="mypublished">
                                <ul class="list-group-h split-6 p-20">
                                    <li><a ui-sref="site.member.issued({state:0})" >待审核 <span>(2)</span></a></li>
                                    <li><a ui-sref="site.member.issued({state:1})" >审核中 </a></li>
                                    <li><a ui-sref="site.member.issued({state:2})" >已通过 </a></li>
                                    <li><a ui-sref="site.member.issued({state:3})" >未通过 </a></li>
                                    <li><a ui-sref="site.member.issued({state:4})" >已成交 </a></li>
                                    <li><a ui-sref="site.member.issued({state:5})" >已结束 </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="dash-widget-item bgm-cyan item-relative" > <!--ng-show="ctrl.user.role == 2"-->
                            <div class="dash-widget-header">
                                <div class="dash-widget-title">我参与的竞标</div>
                            </div>

                            <div class="mypublished">
                                <ul class="list-group-h split-5 p-20">
                                    <li><a ui-sref="site.member.participant" >竞标中 <span>(2)</span></a></li>
                                    <li><a ui-sref="site.member.wonbid" >已中标 </a></li>
                                    <li><a ui-sref="site.member.participant({state:4})" >未中标 </a></li>
                                    <li><a ui-sref="site.member.wonbid({state:5})" >已完成 </a></li>
                                    <li><a ui-sref="site.member.participant({state:5})" >已结束 </a></li>                                     
                                </ul>
                            </div>
                        </div>
                         

                        <div class="row" ng-init="options = {trackColor: 'rgba(255,255,255,0.2)',scaleColor: 'rgba(255,255,255,0.5)',barColor: 'rgba(255,255,255,0.7)',lineWidth: 7,lineCap: 'butt',size: 148}">
                            <div class="col-sm-6" >
                                <div class="epc-item bgm-lightgreen" ng-init="percent1=35">
                                    <div class="easy-pie main-pie" >
                                        <div class="percent">{{percent1}}</div>
                                        <div class="pie-title">最近一个月的完成率</div>
                                        <div easypiechart options="options" percent="percent1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="epc-item bgm-orange" ng-init="percent2=87">
                                    <div class="easy-pie main-pie" >
                                        <div class="percent">{{percent2}}</div>
                                        <div class="pie-title">最近一个月的回款率</div>
                                        <div easypiechart options="options" percent="percent2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 
                        <div class="card mypublished">
                             <div class="card-header bgm-indigo">
                                 <h2>我发布的委托</h2>
                             </div>
                             <div class="card-body">
                                 <ul class="list-group-h split-6 p-20">
                                    <li><a href="#" class="list-group-item2">待审核 <span class="badge2">2</span></a></li>
                                    <li><a href="#" class="list-group-item2">审核中 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">已通过 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">未通过 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">已成交 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">已结束 <span class="badge2">0</span></a></li>                                     
                                 </ul>
                             </div>
                        </div>

                        <div class="card">
                             <div class="card-header bgm-indigo">
                                 <h2>我参与的竞标</h2>
                             </div>
                             <div class="card-body">
                                 <ul class="list-group-h split-5 p-20">
                                    <li><a href="#" class="list-group-item2">竞标中 <span class="badge2">2</span></a></li>
                                    <li><a href="#" class="list-group-item2">已中标 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">未中标 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">已成交 <span class="badge2">0</span></a></li>
                                    <li><a href="#" class="list-group-item2">已结束 <span class="badge2">0</span></a></li>                                     
                                 </ul>
                             </div>
                        </div>
                        -->

                        <!-- 
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar">我的委托</div>
                                        <div class="count">
                                            <small>Website Traffics</small>
                                            <h2>987,459</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar">我的竞标</div>
                                        <div class="count">
                                            <small>Website Traffics</small>
                                            <h2>987,459</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-bar">我的中标</div>
                                        <div class="count">
                                            <small>Website Traffics</small>
                                            <h2>987,459</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->

                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header bgm-lightblue" style="padding: 15px">
                                        <h2>最新动态 </h2>
                                    </div>
                                    <div class="card-body card-padding" style="padding: 5px">
                                        <ul class="list-group" >
                                            <div ng-repeat="situation in situationlist">
                                                <li class="list-group-item">
                                                    <span class="badge">{{situation.time | idate}}</span>
                                                    <div ng-show="situation.type==1">
                                                        <a ui-sref="site.debt.detail({debtId: '{{situation.data[1]}}'})" href="javascript:;" >债务类型：{{situation.data[0] | debtType}} 总金额：{{situation.data[3] | ccurrency}} 元 </a>
                                                    </div>
                                                    <div ng-show="situation.type==2">
                                                        <a ui-sref="site.member.fundrecord"  >资金类型：结单返款 金额：{{situation.data[1] | ccurrency}} 元 </a>
                                                    </div>
                                                    <div ng-show="situation.type==3">
                                                        <a ui-sref="site.member.fundrecord" >资金类型：退还保证金 金额：{{situation.data[1] | ccurrency}} 元 </a>
                                                    </div>
                                                    <div ng-show="situation.type==4">
                                                        <a ui-sref="site.debt.detail({debtId: '{{situation.data[0]}}'})" href="javascript:;" >委托单{{situation.data[0]}}已关闭 </a>
                                                    </div>
                                                    <div ng-show="situation.type==5">
                                                        <a ui-sref="site.debt.detail({debtId: '{{situation.data[1]}}'})" href="javascript:;" >修改委托单{{situation.data[1]}} </a>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                        <ul class="list-group text-center" ng-hide="situationlist.length">
                                            暂无动态
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>  <!--/ END OF ROW -->

                    </div>
                </div>

                <!-- 
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header bgm-lightblue">
                                <h2> 我的委托 </h2>
                            </div>
                            <div class="card-body ">
                                <div class="list-group">
                                    <a href="#" class="list-group-item"><span class="badge">2</span> 待审核</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 审核中</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 已通过</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 未通过</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 已成交</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 已结束</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header bgm-lightblue">
                                <h2> 我的竞标 </h2>
                            </div>
                            <div class="card-body ">
                                <div class="list-group">
                                    <a href="#" class="list-group-item"><span class="badge">5</span> 进行中</a>
                                    <a href="#" class="list-group-item"><span class="badge">2</span> 已成交</a>
                                    <a href="#" class="list-group-item"><span class="badge">0</span> 已结束</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header bgm-lightblue">
                                <h2> 我的中标 </h2>
                            </div>
                            <div class="card-body ">
                                <div class="list-group">
                                    <a href="#" class="list-group-item"><span class="badge">2</span> 进行中</a>
                                    <a href="#" class="list-group-item"><span class="badge">1</span> 已完成</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                 -->
                


                    <!-- 流程 -->
                    <!-- 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header bgm-lightblue" style="padding: 15px">
                                    <h2>债务代理流程 </h2>
                                </div>
                                <div class="card-body card-padding" style="padding: 5px">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">1</span>
                                            发布债权信息
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">2</span>
                                            通过平台审核
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">3</span>
                                            进入网上拍卖环节
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">4</span>
                                            智能匹配和债权人选标
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">5</span>
                                            催收员电话催收、外访催收
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">6</span>
                                            催收进度反馈
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">7</span>
                                            实时回款结算
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header bgm-lightblue" style="padding: 15px">
                                    <h2>债务转让流程 </h2>
                                </div>
                                <div class="card-body card-padding" style="padding: 5px">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">1</span>
                                            发布债权信息
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">2</span>
                                            通过平台审核
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">3</span>
                                            进入网上拍卖环节
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">4</span>
                                            价高者中标
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">5</span>
                                            平台通知转让方和受让方
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">6</span>
                                            公证处公证
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">7</span>
                                            转让成功，债权变现
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    -->
            </div>
        </div>
    </div>

    
    <a class="btn btn-float btn-danger btn-corner waves-effect" ui-sref="site.member.createdebt" alt="发布债权" title="发布债权">
        <i class="zmdi zmdi-plus"></i>
    </a>

