
    <div class="container ng-scope">
        <div class="card" ng-controller="payController as ctrl">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-usd" ></span> 我要充值</h2>
            </header>
            <div  class="card-body card-padding">
                <form  class="form-horizontal w5c-form" role="form"
                       w5c-form-validate="validateOptions" novalidate name="validateForm" >
                    <div class="form-group">
                        <label class="col-sm-3 control-label">充值方式 {{ctrl.pay.orderAmount}}</label>
                        <div class="col-sm-6">
                            <div class="radio" >
                                <label class="m-r-20">
                                    <input type="radio" name="paytype" ng-model="paytype" value="1"  ng-init="paytype='1'">
                                    <i class="input-helper"></i>
                                    国付宝支付
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">充值金额<span class="inputflag">*</span></label>
                        <div class="col-sm-6">
                            <!--<div class="fg-line">-->
                                <input type="text" moneystyle  class="form-control" ng-model="ctrl.orderAmount" name="orderAmount"
                                       placeholder="输入充值金额(单位：元)" maxlength="10"  required>
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="buttom" w5c-form-submit="ctrl.pay(ctrl.orderAmount)"  class="btn btn-primary btn-lg" >去充值 </button>
                        </div>
                    </div>
                </form>
                <div >
                <form name="payform" id="payform" action="https://gateway.gopay.com.cn/Trans/WebClientAction.do" method="post">
                    <input type="hidden" name="version" ng-value="pay.version"/>
                    <input type="hidden" name="charset" ng-value="pay.charset"/>
                    <input type="hidden" name="language" ng-value="pay.language" />
                    <input type="hidden" name="signType" ng-value="pay.signType"/>
                    <input type="hidden" name="tranCode" ng-value="pay.tranCode" />
                    <input type="hidden" name="merchantID" ng-value="pay.merchantID" id="merchantID"/>
                    <input type="hidden" name="merOrderNum" ng-value="pay.merOrderNum" />
                    <input type="hidden" name="tranAmt" ng-value="pay.tranAmt"/>
                    <input type="hidden" name="feeAmt" ng-value="pay.feeAmt" />
                    <input type="hidden" name="currencyType" ng-value="pay.currencyType"/>
                    <input type="hidden" name="frontMerUrl" ng-value="pay.frontMerUrl" />
                    <input type="hidden" name="backgroundMerUrl" ng-value="pay.backgroundMerUrl"/>
                    <input type="hidden" name="tranDateTime" ng-value="pay.tranDateTime" />
                    <input type="hidden" name="virCardNoIn" ng-value="pay.virCardNoIn"/>
                    <input type="hidden" name="tranIP" ng-value="pay.tranIP" />
                    <input type="hidden" name="merRemark1" ng-value="pay.merRemark1"/>
                    <input type="hidden" name="merRemark2" ng-value="pay.merRemark2" />
                    <input type="hidden" name="gopayServerTime" ng-value="pay.gopayServerTime"/>
                    <input type="hidden" name="signValue" ng-value="pay.signValue" />
                </form>
                </div>
            </div>
        </div>
    </div>

