<section  class="page-view ng-scope" data-ui-view="">
    <div class="container ng-scope">
        <div class="card" >
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-wrench" ></span> 修改密码</h2>
            </header>
            <div ng-controller="userPwdController as ctrl" class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-3 "></div>
                    <div class="col-sm-6 ">
                        <div >
                            <div class="card-body card-padding">
                                <form  class="form-horizontal w5c-form" role="form"
                                       w5c-form-validate="validateOptions" novalidate name="validateForm" >
                                    <div class="form-group fg-float"  >
                                        <!--<label  class="col-sm-3 control-label"></label>-->
                                        <!--<div class="col-sm-6">-->
                                            <div class="fg-line" >
                                                <input type="password"   class="form-control" ng-model="ctrl.oldPasswd" name="oldpassword"
                                                        required>
                                            </div>
                                            <label class="fg-label">旧密码</label>
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group fg-float" >
                                        <!--<label  class="col-sm-3 control-label">新密码</label>-->
                                        <!--<div class="col-sm-6" >-->
                                            <div class="fg-line">
                                                <input type="password"   class="form-control" ng-model="ctrl.newPasswd" name="newpassword"
                                                      ng-minlength="6" ng-maxlength="20" required>
                                            </div>
                                         <label class="fg-label">新密码</label>
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group fg-float" >
                                        <!--<label  class="col-sm-3 control-label">确认新密码</label>-->
                                        <!--<div class="col-sm-6">-->
                                            <div class="fg-line">
                                                <input type="password"   class="form-control" w5c-repeat="newpassword" ng-model="ctrl.repeatPassword" name="repeatPassword"
                                                    required>
                                            </div>
                                        <label class="fg-label">确认新密码</label>
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group">
                                        <!--<div class="col-sm-offset-0 col-sm-9" >-->
                                            <button type="buttom" w5c-form-submit="ctrl.changePwd(ctrl.oldPasswd,ctrl.newPasswd)"  class="btn btn-primary btn-lg" > 确认提交信息 </button>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
