<section  class="page-view ng-scope" data-ui-view="" ng-controller="vipController as ctrl">
    <div class="container ng-scope" >
        <div class="card" >
            <header class="card-header">
                <h2><span class="zmdi zmdi-shopping-cart zmdi-hc-fw" ></span> 购买VIP会员服务</h2>
            </header>
            <div  class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-6" >
                        <div class="card">
                            <div class="card-header bgm-cyan">
                                <h2>委单方 <small>个体债权人、P2P平台、银行、金融消费贷公司.</small></h2>
                            </div>
                            <div class="card-body card-padding" style="padding:5px">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        注册、登录、查询、信用评级
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        债权发布、债权转让、债权代理
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        多平台债权发布（Web、手机移动版本、微信版本）
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        网银支付
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <div class="card">
                            <div class="card-header bgm-cyan">
                                <h2>催收方 <small>催收专员、催收公司、律师事务所、各类催收机构</small></h2>
                            </div>
                            <div class="card-body card-padding" style="padding:5px">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        注册、登录、查询、信用评级
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        债权发布、债权转让、债权代理
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        多平台债权发布（Web、手机移动版本、微信版本）
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">免费</span>
                                        网银支付
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" >
                        <div class="card">
                            <div class="card-header bgm-amber">
                                <h2>个人催收用户 <small>VIP会员，接单机会大增</small></h2>
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <!--<a href="" data-toggle="dropdown" aria-expanded="false" title="购买个人VIP会员服务">-->
                                            <!--<i class="zmdi zmdi-shopping-cart"></i>-->
                                        <!--</a>-->
                                        <button class="btn bgm-white btn-float z-depth-1 waves-effect" ng-click="ctrl.buypersonVip()" style="bottom: -36px;" aria-expanded="false">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="#" onclick="ctrl.buypersonpay()">购买个人VIP会员服务</a>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding" style="padding:5px">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        全网推广<br/>
                                        专刊宣传黄页展示、全国城市巡讲、微信平台推广等让您的品牌价值直达全国
                                    </li>
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        智能匹配，优先推荐<br/>
                                        无限次智能精准匹配、优先推荐给个体债权人、P2P公司，各类消费贷公司
                                    </li>
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        助理服务<br/>
                                        专业律师指导，优先服务特权，7*24小时服务
                                    </li>
                                    <li class="list-group-item" >
                                        &nbsp;<span class="money" style="float: right">体验价 500元/年</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" >
                        <div class="card">
                            <div class="card-header bgm-amber">
                                <h2>企业催收用户 <small>VIP会员,接单机会大增</small></h2>
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <!--<a href="" data-toggle="dropdown" aria-expanded="false" title="购买企业VIP会员服务">-->
                                            <!--<i class="zmdi zmdi-shopping-cart"></i>-->
                                        <!--</a>-->
                                        <button class="btn bgm-white btn-float z-depth-1 waves-effect" ng-click="ctrl.buycompanyVip()" style="bottom: -36px;" aria-expanded="false">
                                            <i class="zmdi zmdi-shopping-cart"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">购买企业VIP会员服务</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding" style="padding:5px">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        全网推广<br/>
                                        专刊宣传黄页展示、全国城市巡讲、微信平台推广等让您的品牌价值直达全国
                                    </li>
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        智能匹配，优先推荐<br/>
                                        无限次智能精准匹配、优先推荐给个体债权人、P2P公司，各类消费贷公司
                                    </li>
                                    <li class="list-group-item">
                                        <span class="vipbadge">VIP</span>
                                        助理服务<br/>
                                        专业律师指导，优先服务特权，7*24小时服务
                                    </li>
                                    <li class="list-group-item" >
                                        &nbsp;<span class="money" style="float: right">体验价 20,000元/年</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="buyvipModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">购买VIP会员服务</h3>
                </div>
                <div class="modal-body">
                    <p>您需要支付金额： <span class="money"> {{ctrl.VipMoney}}元</span>  &nbsp; 当前余额：<span class="money">{{ ctrl.user.money |ccurrency}} 元</span> </p>
                    <p ng-show="ctrl.user.money/100 < ctrl.VipMoney">帐户余额不足, 请<a href="javascript:;" ng-click="ctrl.recharge()" >充值</a></p>

                </div>
                <div class="modal-footer">
                    <button ng-show="ctrl.user.money >=ctrl.VipMoney" class="btn btn-warning" ng-click="ctrl.ok()">确认购买</button>
                    <!--<button class="btn btn-primary" type="submit" ng-disabled="ctrl.debtMsgForm.$invalid">保存</button>-->
                    <button class="btn btn-warning" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</section>