
    <div class="container">
        <div class="card">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-list" ></span> 我的中标</h2>
            </header>
            <div class="panel-body" ng-controller="wonbidController as ctrl">

                <div class="row m-b-10">
                    <div class="col-xs-12">
                        状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态:&nbsp;&nbsp;
                        <div class="btn-group" ng-init="ctrl.q.state=3" data-toggle="buttons">
                            <label class="btn btn-default active" ng-click="ctrl.q.state=3">
                                <input type="radio" name="type" ng-model="ctrl.q.state" autocomplete="off" value="3" checked/>
                                <i class="fa fa-user"></i> 进行中
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.state=4">
                                <input type="radio" name="type" ng-model="ctrl.q.state" autocomplete="off" value="4" checked/>
                                <i class="fa fa-user"></i> 已完成
                            </label>
                         </div>
                    </div>
                </div>
                
                <div class="row m-b-10">
                    <div class="col-sm-12">
                        逾期时间:&nbsp;&nbsp;
                        <div class="btn-group" data-toggle="buttons" ng-init="ctrl.q.hand=-1">
                            <label class="btn btn-default active" ng-click="ctrl.q.hand=-1">
                                <input type="radio" name="hand" autocomplete="off" value="-1" /> 全部
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=0">
                                <input type="radio" name="hand" autocomplete="off" value="0"/> M0
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=1">
                                <input type="radio" name="hand" autocomplete="off" value="1"/> M1
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=2">
                                <input type="radio" name="hand" autocomplete="off" value="2"/> M2
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=3">
                                <input type="radio" name="hand" autocomplete="off" value="3"/> M3
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=4">
                                <input type="radio" name="hand" autocomplete="off" value="4"/> 一手
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=5">
                                <input type="radio" name="hand" autocomplete="off" value="5"/> 二手
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=6">
                                <input type="radio" name="hand" autocomplete="off" value="6"/> 三手
                            </label>
                            <label class="btn btn-default" ng-click="ctrl.q.hand=7">
                                <input type="radio" name="hand" autocomplete="off" value="7"/> 四手
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">&nbsp;</div>
                <div class="row">
                    <div ng-repeat="debt in filteredDebts = (ctrl.debtList | filter:ctrl.stateFilter)">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-lightblue m-b-20">
                                    <h2>{{debt.money | ccurrency}}
                                    <small>发布于: {{debt.publishTime | idate }}
                                    <span class="m-l-5" ng-show="debt.bidCount>0">已投: {{debt.bidCount}}</span>
                                    </small>
                                    </h2>
                                    <a class="btn bgm-orange btn-float waves-effect waves-effect" href="javascript:;" ui-sref="site.debt.detail({debtId: '{{debt.id}}'})">
                                        <i class="zmdi zmdi-mail-send zmdi-hc-fw"></i>
                                    </a>
                                </div>
                                <div class="card-body card-padding">
                                    <p> 代理费率：{{debt.rate}}% </p>
                                    <p>代理期限：{{debt.duration}}天</p>
                                    <p>所在地区：{{debt.debtorLocation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center" ng-hide="filteredDebts.length">暂无记录</div>
                    
                </div>
                
            </div>
        </div>
    </div>

