<section  class="page-view ng-scope" data-ui-view="" >
    <div class="container ng-scope">
        <div class="card">
            <header class="card-header">
                <h2><span class="glyphicon glyphicon-list" ></span> 我的中标</h2>
            </header>
            <div class="panel-body" ng-controller="wonbidController as ctrl">

                <div class="row qc-area">
                    <div class="col-xs-12">
                        状态:
                        <div class="btn-group" ng-init="q.stateDesc='1'" data-toggle="buttons">
                            <label class="btn btn-default active" ng-click="q.stateDesc='1'">
                                <input type="radio" name="type" ng-model="q.stateDesc" autocomplete="off" value="'1'" checked/>
                                <i class="fa fa-user"></i> 进行中
                            </label>
                            <label class="btn btn-default" ng-click="q.stateDesc='2'">
                                <input type="radio" name="type" ng-model="q.stateDesc" autocomplete="off" value="'2'" checked/>
                                <i class="fa fa-user"></i> 已结束
                            </label>
                         </div>
                    </div>
                </div>

                <div class="row">&nbsp;</div>
                <div class="row">
                    <div ng-repeat="debt in filteredDebts = (ctrl.debtList | filter:ctrl.stateFilter)">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-header bgm-bluegray m-b-20">
                                    <h2>{{debt.money | ccurrency}} <small>发布于: {{debt.publishTime | idate }} </small></h2>
                                    <a class="btn bgm-blue btn-float waves-effect waves-effect" href="javascript:;" ui-sref="site.debt.detail({debtId: '{{debt.id}}'})">
                                        <i class="zmdi zmdi-mail-send zmdi-hc-fw"></i>
                                    </a>
                                </div>
                                <div class="card-body card-padding">
                                    <p> 代理费率：{{debt.rate}}% </p>
                                    <p>代理期限：{{debt.duration}}天</p>
                                    <p>所在地区：{{debt.debtorLocation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center" ng-hide="filteredDebts.length">暂无记录</div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>
